<div class="neo-input-file">
  <input
    #fileInputFile
    hidden
    type="file"
    id="file"
    name="file"
    (change)="onFileChange($event)"
    [disabled]="disabled"
    [multiple]="multiple"
    [accept]="extensions"
    [attr.id]="_id()"
    [attr.aria-disabled]="_disabled()"
    [attr.aria-labelledby]="_labelId()"
    [attr.aria-owns]="_labelId()"
    [attr.aria-describedby]="ariaDescribedBy || ariaDescribedByCustom"
    [disabled]="_disabled()"
    [required]="required"
    [attr.aria-required]="required"
    [attr.name]="name"
    [attr.title]="title || label || ''"
  />
  <neo-button
    (onClick)="fileInputFile.click()"
    [size]="inputSize"
    [color]="color"
    [disabled]="_disabled()"
    [allWidth]="allWidth"
    [transparent]="transparent"
    [mode]="mode"
    [ariaLabel]="
      label ||
      (multiple
        ? _translations.inputFileLabelMultiple
        : _translations.inputFileLabel)
    "
    [title]="
      label ||
      (multiple
        ? _translations.inputFileLabelMultiple
        : _translations.inputFileLabel)
    "
  >
    {{
      label ||
        (multiple
          ? _translations.inputFileLabelMultiple
          : _translations.inputFileLabel)
    }}
  </neo-button>
</div>
