<div class="modal-box modal-spinner">
  @if (data.canBeClosed) {
    <button
      class="modal-box__close"
      tabindex="0"
      [title]="'APP.CLOSE' | translate"
      [attr.aria-label]="'APP.CLOSE' | translate"
      (click)="close()"
      (keydown.enter)="close()"
      (keydown.space)="close()"
      autofocus
    >
      <i class="ri-close-fill"></i>
    </button>
  }
  <div
    mat-dialog-title
    class="modal-box__title"
    [class.no-close]="!data.canBeClosed || data.disableClose"
  >
    @if (data.title) {
      <neo-section-title
        [icon]="data.data?.iconTitle || 'ri-loop-left-fill'"
        [title]="data.title"
      >
      </neo-section-title>
    }
  </div>
  <div mat-dialog-content class="modal-box__body modal-spinner__body">
    <neo-spinner
      size="xm"
      [label]="data.data?.label || data.title || ''"
    ></neo-spinner>
  </div>
  @if (data.canBeClosed) {
    <div mat-dialog-actions class="modal-box__footer">
      <neo-button
        cdkFocusInitial
        color="secondary"
        (onClick)="close()"
        size="xm"
        >{{ "APP.CANCEL" | translate }}</neo-button
      >
    </div>
  }
</div>
