<button
  #btnContent
  class="neo-btn neo-btn-{{ size }} neo-btn-{{ color }} neo-btn-{{ mode }}"
  [disabled]="disabled"
  [autofocus]="focus"
  [class.neo-btn-transparent]="transparent"
  [class.neo-btn--disabled]="disabled"
  [class.neo-btn--all-width]="allWidth"
  [title]="getTitle()"
  [attr.aria-disabled]="disabled"
  [attr.aria-label]="getTitle()"
  [attr.type]="type"
  (click)="clickOnButton($event)"
  (keydown.enter)="clickOnButton($event)"
  (keydown.space)="clickOnButton($event)"
>
  <ng-content></ng-content>
</button>
