<ng-template #collapseButton>
  <neo-button
    [size]="'s'"
    color="primary"
    mode="icon"
    [title]="'app.expandir' | translate"
    [transparent]="true"
    (onClick)="collapse($event)"
  >
    <i class="ri-arrow-up-wide-fill"></i>
  </neo-button>
</ng-template>

<ng-template
  #expandButton
  let-label="label"
  let-icon="icon"
  let-iconSize="iconSize"
>
  <neo-button
    [size]="iconSize || 's'"
    color="primary"
    [mode]="!label ? 'icon' : 'button'"
    [title]="'app.expandir' | translate"
    [transparent]="true"
    (onClick)="expand($event)"
  >
    <i [class]="!label && !icon ? 'ri-arrow-down-wide-fill' : icon"></i>
    @if (label) {
      <span>{{ label }}</span>
    }
  </neo-button>
</ng-template>

@if (neoCardHeader) {
  <div
    class="neo-card__header"
    [class.neo-card__header--collapsed]="_isCollapsed()"
  >
    <div class="neo-card__header__title">
      <ng-content select="neo-card-header"></ng-content>
    </div>
    <div class="neo-card__header__actions">
      @if (collapsable) {
        <div class="neo-card__header__actions__collapse">
          <ng-container
            *ngTemplateOutlet="_isCollapsed() ? expandButton : collapseButton"
          ></ng-container>
        </div>
      }
    </div>
  </div>
} @else {
  @if (collapsable) {
    @if (!_isCollapsed()) {
      <div class="neo-card__collapse-action">
        <ng-container *ngTemplateOutlet="collapseButton"></ng-container>
      </div>
    } @else {
      <div class="neo-card__collapsed">
        @if (
          (iconCollpased && !labelCollpased) ||
          (!iconCollpased && !labelCollpased)
        ) {
          <div class="neo-card__collapsed__icon">
            <ng-container
              *ngTemplateOutlet="
                expandButton;
                context: { icon: iconCollpased || 'ri-arrow-down-wide-fill' }
              "
            ></ng-container>
          </div>
        } @else {
          <div class="neo-card__collapsed__label">
            <ng-container
              *ngTemplateOutlet="
                expandButton;
                context: {
                  icon: iconCollpased || null,
                  iconSize: sizeIconCollapsed,
                  label: labelCollpased
                }
              "
            ></ng-container>
          </div>
        }
      </div>
    }
  }
}
<div
  class="neo-card__content"
  [class.neo-card__content--collapsed]="_isCollapsed()"
>
  <ng-content></ng-content>
</div>
@if (neoCardFooter) {
  <div class="neo-card__footer">
    <ng-content select="neo-card-footer"></ng-content>
  </div>
}
