// src/app/shared/components/card/card.component.scss

@import "config";
@import "mixins";
@import "functions";

.neo-card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: $border-radius-md;
  background-color: var(--bg-card-color);
  box-shadow: var(--shadow-card);
  border: 1px solid var(--border-color-card);
  min-height: 20px;
  max-height: 100%;
  overflow: hidden;
  position: relative;

  &--has-structure {
    gap: $spacing-s;
  }

  &__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.2rem;
    padding-bottom: 0;
    width: 100%;

    &__content {
      display: flex;
      flex-direction: column;
      color: var(--text-color);
      width: 100%;
    }

    &--collapsed {
      padding-bottom: 1.2rem;
    }
  }

  &__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 45px;
    gap: calc(#{$spacing-s} / 1.5);
    padding: 1.2rem;
    padding-top: 0;
    box-sizing: content-box;
  }

  &__collapsed {
    padding: 0.3rem 0.5rem;
  }

  &--collapsed-label {
    display: inline-flex;
    width: auto;
    flex-direction: column;
    justify-content: center;
  }

  &__collapse-action {
    position: absolute;
    top: calc(#{$spacing-xs} / 1.6);
    right: calc(#{$spacing-xs} / 1.6);
  }

  &__content {
    padding: 1.2rem;
    font-size: map-get($component-font-sizes, s);
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    &--has-header {
      padding-top: 0;
    }

    &--has-footer {
      padding-bottom: 0;
    }

    &--collapsed {
      display: none;
    }
  }
}
