@import "config";
@import "mixins";
@import "functions";

.neo-card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: var(--border-radius-md);
  background-color: var(--bg-card-color);
  box-shadow: var(--shadow-card);
  border: 1px solid var(--border-color-card);
  min-height: 20px;
  max-height: 100%;
  overflow: hidden;
  position: relative;

  &--has-structure {
    gap: var(--spacing-s);
  }

  &__header {
    @include flex-start-between;
    @include heading(h5);
    padding: var(--spacing-m);
    padding-bottom: 0;
    width: 100%;

    &__content {
      @include flex-col;
      color: var(--text-color);
      width: 100%;
    }

    &--collapsed {
      padding-bottom: var(--spacing-m);
    }
  }

  &__footer {
    @include flex-center;
    width: 100%;
    min-height: 2.5rem;
    gap: calc(var(--spacing-s) / 1.5);
    padding: var(--spacing-m);
    padding-top: 0;
    box-sizing: content-box;
  }

  &__collapsed {
    padding: 0.3rem 0.5rem;
  }

  &--collapsed-label {
    display: inline-flex;
    width: auto;
    @include flex-col-start-center;
  }

  &__collapse-action {
    position: absolute;
    top: calc(var(--spacing-xs) / 1.6);
    right: calc(var(--spacing-xs) / 1.6);
  }

  &__content {
    padding: var(--spacing-m);
    font-size: var(--component-font-size-s);
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    &--has-header {
      padding-top: 0;
    }

    &--has-footer {
      padding-bottom: 0;
    }

    &--collapsed {
      display: none;
    }
  }
}
