<neo-button
  mode="icon"
  [color]="color"
  [size]="size"
  [transparent]="transparent"
  [title]="title"
  [attr.aria-label]="title"
  [attr.aria-haspopup]="'menu'"
  [attr.aria-expanded]="isOpened()"
  [attr.aria-controls]="_id()"
  (onClick)="toggleActionMenu($event)"
  cdkOverlayOrigin
  #actionMenu
  #btnActionMenu="cdkOverlayOrigin"
>
  <i [class]="icon"></i>
</neo-button>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="btnActionMenu"
  [cdkConnectedOverlayOpen]="isOpened()"
  [cdkConnectedOverlayScrollStrategy]="scrollStrategy"
  [cdkConnectedOverlayPositions]="overlayPositions"
  (detach)="close()"
>
  <div
    class="action-menu"
    cdkTrapFocus
    [cdkTrapFocusAutoCapture]="true"
    [attr.id]="_id()"
    #actionMenuOverlay
    [@fadeInOutScale]="isOpened() ? '*' : 'void'"
    (keydown)="onKeyDown($event)"
  >
    @for (item of items; track item) {
      <neo-action-menu-item
        [label]="item?.label ?? ''"
        [icon]="item?.icon ?? ''"
        [title]="item?.title || item?.label || ''"
        [disabled]="item.disabled"
        (itemClick)="onDynamicItemClick(item, $event)"
      >
        @if (!item.label) {
          {{ item.title }}
        }
      </neo-action-menu-item>
    }
    <ng-content select="neo-action-menu-item"></ng-content>
  </div>
</ng-template>
