<neo-button
  mode="icon"
  [color]="color"
  [size]="size"
  [transparent]="transparent"
  [title]="title"
  [attr.aria-label]="title"
  [attr.aria-haspopup]="'menu'"
  [attr.aria-expanded]="isOpened()"
  [attr.aria-controls]="_id()"
  (onClick)="toggleMenuContext($event)"
  cdkOverlayOrigin
  #menuContext
  #btnMenuContext="cdkOverlayOrigin"
>
  <i [class]="icon"></i>
</neo-button>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="btnMenuContext"
  [cdkConnectedOverlayOpen]="isOpened()"
  [cdkConnectedOverlayScrollStrategy]="scrollStrategy"
  [cdkConnectedOverlayPositions]="overlayPositions"
  (detach)="close()"
>
  <div
    class="menu-context"
    cdkTrapFocus
    [cdkTrapFocusAutoCapture]="true"
    [attr.id]="_id()"
    #menuContextOverlay
    [@fadeInOutScale]="isOpened() ? '*' : 'void'"
    (keydown)="onKeyDown($event)"
  >
    <ng-content select="neo-item-menu-context"></ng-content>
  </div>
</ng-template>
