<neo-button
  mode="icon"
  [color]="color"
  [size]="size"
  [transparent]="transparent"
  (onClick)="toggleMenuContext($event)"
  [title]="title"
  cdkOverlayOrigin
  #menuContext="cdkOverlayOrigin"
>
  <i [class]="icon"></i>
</neo-button>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="menuContext"
  [cdkConnectedOverlayOpen]="isMenuContextOpened()"
  [cdkConnectedOverlayScrollStrategy]="scrollStrategy"
  [cdkConnectedOverlayPositions]="overlayPositions"
  (detach)="close()"
  (backdropClick)="close()"
>
  <div
    class="menu-context"
    #menuContext
    cdkTrapFocus
    [cdkTrapFocusAutoCapture]="true"
    [@fadeInOutScale]="isMenuContextOpened() ? '*' : 'void'"
  >
    <ng-content></ng-content>
  </div>
</ng-template>
