<div
  class="neo-radio-button neo-radio-button--{{ inputSize }}"
  [class.neo-radio-button--checked]="checked"
  [class.neo-radio-button--disabled]="disabled"
  (click)="onClick()"
>
  <input
    class="neo-radio-button__input"
    type="radio"
    [id]="_id()"
    [name]="_name()"
    [attr.aria-labelledby]="_labelId()"
    [attr.aria-disabled]="disabled"
    [attr.aria-checked]="checked"
    [attr.title]="_title()"
    [value]="value"
    [checked]="checked"
    [disabled]="disabled"
    tabindex="-1"
    aria-hidden="true"
  />
  <div
    class="neo-radio-button__outer-circle neo-radio-button__outer-circle--{{
      inputSize
    }}"
  >
    <div
      class="neo-radio-button__inner-circle neo-radio-button__inner-circle--{{
        inputSize
      }}"
    ></div>
  </div>
  <label
    class="neo-radio-button__label neo-radio-button__label--{{ inputSize }}"
    [for]="_id()"
    [attr.id]="_labelId()"
    #contentWrapper
  >
    <ng-content></ng-content>
    @if (!hasProjectedContent) {
      {{ label || "" }}
    }
  </label>
</div>
