<div
  class="neo-radio-button neo-radio-button--{{ inputSize }}"
  [class.neo-radio-button--checked]="checked"
  [class.neo-radio-button--disabled]="disabled"
>
  <label
    class="neo-radio-button__label neo-radio-button__label--{{ inputSize }}"
    [attr.id]="_labelId()"
    [attr.aria-label]="label"
    [attr.title]="_title()"
    [attr.aria-checked]="checked"
    [attr.aria-disabled]="disabled"
    [class.neo-radio-button__label--checked]="checked"
    role="radio"
    tabindex="0"
  >
    <input
      class="neo-radio-button__input"
      type="radio"
      [name]="_name()"
      [value]="value"
      [checked]="checked"
      [disabled]="disabled"
      (click)="onClick()"
    />
    <div
      class="
        neo-radio-button__outer-circle 
        neo-radio-button__outer-circle--{{ inputSize }}
      "
    >
      <div
        class="
          neo-radio-button__inner-circle 
          neo-radio-button__inner-circle--{{ inputSize }}
        "
        [class.neo-radio-button__inner-circle--checked]="checked"
      ></div>
    </div>
    <div class="neo-radio-button__text" #contentWrapper>
      <ng-content></ng-content>
      {{ label || "" }}
    </div>
  </label>
</div>
