@import "config";
@import "mixins";

:host {
  @include flex-col-start;
  gap: $spacing-xs;
}

.neo-radio-group {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-xs;
  align-items: center;
}

.neo-radio-group__label {
  font-weight: $font-weight-medium;
  margin-bottom: $spacing-xxs;
  color: var(--color-gray-800);

  // Tamaños dinámicos para la etiqueta superior
  @each $key, $font-size in $component-font-sizes {
    &--#{$key} {
      font-size: map-get($component-font-sizes, $key);
      line-height: map-get($component-font-sizes, $key);
    }
  }
}
