.neo-form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;

  &__error {
    min-height: 13px;
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
