@import "config";
@import "mixins";

.neo-form-error {
  @include flex-col-start;
  margin-top: var(--spacing-xxs);

  &__error {
    @include flex-col-center;
    gap: var(--spacing-xxs);
    font-size: var(--component-font-size-s);
    font-style: italic;
    color: var(--color-danger);
  }
}