@import 'base';

.neo-form-error {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 5px;

  &__errors {
    display: flex;
    align-items: center;
    gap: 5px;

    small {
      font-size: 0.75rem;
      line-height: 0.75rem;
      letter-spacing: 0.5px;
      font-style: italic;
      color: var(--danger-color);
    }
  }
}