@import "config";
@import "mixins";

.neo-form-error {
  @include flex-col-start;
  margin-top: $spacing-xxs;
  
  &__error {
    @include flex-col-center;
    gap: $spacing-xxs;
    font-size: #{component-font-size(xs)};
    font-style: italic;
    color: var(--color-danger);
  }
}
