<div
  class="
    calendar-picker
    calendar-picker--{{ _size() }}
  "
  role="application"
  [attr.data-calendar-id]="calendarId"
>
  @if (viewMode() === VIEW_MODE.DEFAULT) {
    <div class="calendar-picker__view calendar-picker__view--default">
      <div
        class="
          calendar-picker__header
          calendar-picker__header--{{ _size() }}
        "
      >
        <neo-button
          class="calendar-picker__header-btn"
          [size]="_size()"
          [color]="'primary'"
          [transparent]="true"
          [mode]="'icon'"
          (click)="prevMonth($event)"
          [title]="_translations.prevMonth"
          [attr.aria-label]="_translations.prevMonth"
        >
          <i class="ri-arrow-left-s-line"></i>
        </neo-button>

        <div class="calendar-picker__selectors">
          <neo-button
            class="calendar-picker__selector calendar-picker__selector--month"
            [size]="_size()"
            [color]="'primary'"
            [transparent]="true"
            (click)="setMonthsView($event)"
            [title]="_translations.changeMonth"
            [attr.aria-label]="_translations.changeMonth"
          >
            <div class="calendar-picker__selector__text">
              {{ _translations.shortMonths[currentMonthNumber()] }}
              <i class="ri-arrow-down-s-line arrow-dropdown"></i>
            </div>
          </neo-button>

          <neo-button
            class="calendar-picker__selector calendar-picker__selector--year"
            [size]="_size()"
            [color]="'primary'"
            [transparent]="true"
            (click)="setYearsView($event)"
            [title]="_translations.changeYear"
            [attr.aria-label]="_translations.changeYear"
          >
            <div class="calendar-picker__selector__text">
              {{ currentViewDate() | date: "yyyy" }}
              <i class="ri-arrow-down-s-line arrow-dropdown"></i>
            </div>
          </neo-button>
        </div>
        <neo-button
          class="calendar-picker__header-btn"
          [size]="_size()"
          [color]="'primary'"
          [transparent]="true"
          [mode]="'icon'"
          (click)="nextMonth($event)"
          [title]="_translations.nextMonth"
          [attr.aria-label]="_translations.nextMonth"
        >
          <i class="ri-arrow-right-s-line"></i>
        </neo-button>
      </div>

      <div
        class="
        calendar-picker__content
        calendar-picker__content--{{ _size() }}
      "
      >
        <div
          class="
            calendar-picker__weekdays
            calendar-picker__weekdays--{{ _size() }}
          "
        >
          @for (dayKey of _translations.weekDaysShort; track dayKey) {
            <span
              class="
              calendar-picker__weekday
              calendar-picker__weekday--{{ _size() }}
            "
            >
              {{ dayKey }}
            </span>
          }
        </div>

        <div
          class="calendar-picker__grid--days"
          role="grid"
          [attr.aria-label]="_translations.selectDay"
        >
          @for (
            week of daysInMonth();
            track week[0].date.valueOf();
            let weekIdx = $index
          ) {
            <div
              role="row"
              class="
              calendar-picker__grid-week
              calendar-picker__grid-week--{{ _size() }}
            "
            >
              @for (
                day of week;
                track day.date.valueOf();
                let dayIdx = $index
              ) {
                @if (day.isDisabled || !day.isCurrentMonth) {
                  <span
                    class="
                      calendar-picker__grid-day
                      calendar-picker__grid-day--{{ _size() }}
                    "
                    [class.calendar-picker__grid-day--inactive]="
                      !day.isCurrentMonth
                    "
                    [class.calendar-picker__grid-day--disabled]="day.isDisabled"
                    [class.calendar-picker__grid-day--selected]="day.isSelected"
                    [class.calendar-picker__grid-day--in-range]="day.isInRange"
                    [class.calendar-picker__grid-day--today]="day.isToday"
                    [attr.aria-selected]="day.isSelected"
                    [attr.aria-disabled]="true"
                    [attr.aria-current]="day.isToday"
                    [attr.aria-label]="getDayAccessibilityLabel(day)"
                    [attr.data-day]="day.date.toDate() | date: 'dd'"
                    [title]="getDayAccessibilityLabel(day)"
                    role="presentation"
                  >
                    {{ day.date.date() }}
                  </span>
                } @else {
                  <button
                    #dayButton
                    type="button"
                    class="
                      calendar-picker__grid-day
                      calendar-picker__grid-day--{{ _size() }}
                    "
                    role="gridcell"
                    [attr.tabindex]="
                      day.isSelected || (!hasSelectedDays() && day.isToday)
                        ? 0
                        : -1
                    "
                    [class.calendar-picker__grid-day--selected]="day.isSelected"
                    [class.calendar-picker__grid-day--today]="day.isToday"
                    [attr.aria-selected]="day.isSelected"
                    [attr.aria-disabled]="day.isDisabled"
                    [attr.aria-current]="day.isToday"
                    [attr.aria-label]="getDayAccessibilityLabel(day)"
                    [attr.data-day]="day.date.toDate() | date: 'dd'"
                    [attr.data-date]="day.date.toISOString()"
                    [attr.data-current-month]="day.isCurrentMonth"
                    [attr.data-selected]="day.isSelected"
                    [attr.data-today]="day.isToday"
                    [attr.data-in-range]="day.isInRange"
                    [disabled]="day.isDisabled || !day.isCurrentMonth"
                    [attr.data-day-index]="dayIdx"
                    [title]="getDayAccessibilityLabel(day)"
                    (click)="selectDay(day, $event)"
                  >
                    {{ day.date.date() }}
                  </button>
                }
              }
            </div>
          }
        </div>
      </div>
    </div>
  } @else if (viewMode() === VIEW_MODE.MONTHS) {
    <div
      class="calendar-picker__view calendar-picker__view--months"
      cdkTrapFocus
      [cdkTrapFocusAutoCapture]="true"
      (keydown.escape)="setDefaultView()"
    >
      <div
        class="
          calendar-picker__header
          calendar-picker__header--{{ _size() }}
        "
      >
        <span class="calendar-picker__title">
          {{ _translations.month }}
        </span>
      </div>

      <div class="calendar-picker__content">
        <div
          class="
            calendar-picker__grid 
            calendar-picker__grid--months
            calendar-picker__grid--{{ _size() }}
          "
          role="grid"
          [title]="_translations.monthAria"
          [attr.aria-label]="_translations.monthAria"
        >
          @for (month of allMonths; track $index) {
            <button
              #monthButton
              class="
                calendar-picker__grid-month
                calendar-picker__grid-month--{{ _size() }}
              "
              type="button"
              role="gridcell"
              [attr.tabindex]="currentMonthNumber() === $index ? 0 : -1"
              [class.calendar-picker__grid-month--selected]="
                currentMonthNumber() === $index
              "
              [title]="_translations.shortMonths[$index]"
              [attr.aria-selected]="currentMonthNumber() === $index"
              [attr.aria-label]="_translations.shortMonths[$index]"
              (click)="selectMonth($index, $event)"
            >
              {{ _translations.shortMonths[$index] }}
            </button>
          }
        </div>

        <ng-container *ngTemplateOutlet="backButton"></ng-container>
      </div>
    </div>
  } @else if (viewMode() === VIEW_MODE.YEARS) {
    <div
      class="calendar-picker__view calendar-picker__view--years"
      cdkTrapFocus
      [cdkTrapFocusAutoCapture]="true"
      (keydown.escape)="setDefaultView()"
    >
      <div
        class="
        calendar-picker__header
        calendar-picker__header--{{ _size() }}
      "
      >
        <neo-button
          class="calendar-picker__header-btn"
          [size]="_size()"
          [color]="'primary'"
          [transparent]="true"
          [mode]="'icon'"
          (click)="loadPastYears($event)"
          [title]="_translations.prevMonth"
          [attr.aria-label]="_translations.prevMonth"
        >
          <i class="ri-arrow-left-s-line"></i>
        </neo-button>

        <span class="calendar-picker__title">
          {{ _translations.year }}
        </span>

        <neo-button
          class="calendar-picker__header-btn"
          [size]="_size()"
          [color]="'primary'"
          [transparent]="true"
          [mode]="'icon'"
          (click)="loadFutureYears($event)"
          [title]="_translations.nextMonth"
          [attr.aria-label]="_translations.nextMonth"
        >
          <i class="ri-arrow-right-s-line"></i>
        </neo-button>
      </div>

      <div class="calendar-picker__content">
        <div
          class="
            calendar-picker__grid 
            calendar-picker__grid--years
            calendar-picker__grid--{{ _size() }}
          "
          role="grid"
          [title]="_translations.yearsAria"
          [attr.aria-label]="_translations.yearsAria"
        >
          @for (year of allYears; track year) {
            <button
              #yearButton
              type="button"
              role="gridcell"
              class="
                calendar-picker__grid-year
                calendar-picker__grid-year--{{ _size() }}
              "
              [attr.tabindex]="currentYear() === year ? 0 : -1"
              [class.calendar-picker__grid-year--selected]="
                currentYear() === year
              "
              (click)="selectYear(year, $event)"
              [title]="year"
              [attr.aria-selected]="currentYear() === year"
              [attr.aria-label]="year"
            >
              {{ year }}
            </button>
          }
        </div>

        <ng-container *ngTemplateOutlet="backButton"></ng-container>
      </div>
    </div>
  }
</div>

<ng-template #backButton>
  <div class="calendar-picker__back">
    <neo-button
      class="calendar-picker__back-btn"
      [size]="_size()"
      [color]="'primary'"
      [transparent]="true"
      [mode]="'icon'"
      (click)="backToDefaultView($event)"
      [title]="_translations.back"
      [attr.aria-label]="_translations.back"
    >
      <i class="ri-arrow-left-s-line"></i>
    </neo-button>
  </div>
</ng-template>
