@import 'base';

.calendar-picker {
  width: 285px;
  height: 325px;
  border-radius: 0.25rem;
  min-height: 265px;
  background-color: var(--bg-field-color);
  color: var(--text-color);
  box-shadow: var(--shadow-box);

  &__header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 10px;
    height: 50px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    background-color: var(--bg-btn-primary-color);
    font-size: 0.8rem;

    &__btn,
    &__title {
      font-size: 0.85rem;
      font-weight: 500;
      color: var(--text-btn-primary-color);
      background-color: transparent !important;
    }

    &__btn {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      padding: 5px 10px;
      border-radius: 0.25rem;
      border: none;
      background-color: var(--bg-btn-primary-color) !important;
      color: var(--text-btn-primary-color);
      width: 30px;
      height: 30px;

      i::before {
        color: var(--text-btn-primary-color);
      }

      &:hover,
      &:focus,
      &:active {
        outline: 0;
        background-color: var(--hover-btn-primary-color) !important;
      }
    }

    &__actions {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      color: var(--text-btn-primary-color);

      &--selector {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: none;
        padding: 5px 10px;
        border-radius: 0.25rem;
        background-color: var(--bg-btn-primary-color);
        color: var(--text-btn-primary-color);

        &:hover,
        &:focus,
        &:active {
          outline: 0;
          background-color: var(--hover-btn-primary-color);
        }

        &:last-child {
          margin-left: 10px;
        }

        i::before {
          color: var(--text-btn-primary-color);
        }
      }

      .arrow-dropdown {
        width: 10px;
        height: 10px;
        font-size: 0.65rem;
        right: 10px;
        margin-left: 5px;
      }
    }
  }

  &__back {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px;

    &__btn {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      border: none;
      border-radius: 0.25rem;
      font-size: 1.3rem;
      width: 40px;
      height: 40px;
      background-color: transparent !important;

      &:hover,
      &:focus,
      &:active {
        color: var(--text-color);
        background-color: var(--background-color) !important;
        border-radius: 0.25rem;
      }
    }
  }

  &__content {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  /* HEADER DE DÍAS DE LA SEMANA */
  &__weekdays {
    span {
      font-weight: 600;
      font-size: 0.85rem;
    }
  }

  /* DÍAS DEL MES */
  &__days,
  &__weekdays {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(7, 35px);
    grid-gap: 5px;
    border-radius: 0.25rem;
    justify-items: center;
    align-items: center;
  }

  /* DÍA */
  &__day,
  &__no-day {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 0.25rem;
    font-size: 0.8rem;
    width: 35px;
    height: 35px;
    background-color: transparent !important;
    cursor: pointer;
    color: var(--text-color);

    &:hover,
    &:focus,
    &:active {
      background-color: var(--bg-btn-primary-color) !important;
      color: var(--text-btn-primary-color) !important;
      border-radius: 0.25rem;
      outline: none;
    }

    &:focus:not(&--selected) {
      filter: opacity(0.8);
    }


    &--disabled,
    &--no_current_month {
      cursor: default;
      opacity: 0.5;

      &:hover,
      &:focus {
        background: none !important;
        border: none !important;
        color: var(--text-color) !important;
        outline: none !important;
      }
    }

    &--disabled {
      text-decoration: line-through;
      color: var(--danger-color);

      &:hover,
      &:focus {
        color: var(--danger-color) !important;
      }
    }

    &--selected {
      background-color: var(--bg-btn-primary-color) !important;
      color: var(--text-btn-primary-color) !important;
      border-radius: 0.25rem;
    }

    &--today {
      color: var(--primary-color);
      font-weight: 700;

      &:hover,
      &:focus {
        background-color: var(--bg-btn-primary-color) !important;
        color: var(--text-btn-primary-color) !important;
        outline: none;
      }
    }
  }

  /* CONTENEDOR MESES */
  &__months__content {
    display: grid;
    width: 100%;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 80px);
    border-radius: 0.25rem;
    justify-items: center;
    align-items: center;
  }

  /* CONTENEDOR AÑOS */
  &__years__content {
    display: grid;
    width: 100%;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 60px);
    border-radius: 0.25rem;
    justify-items: center;
    align-items: center;
  }

  /* BOTONES MESES Y AÑOS */
  &__month,
  &__year {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
    height: 30px;
    letter-spacing: normal;
    align-content: center;
    flex-direction: row;
    cursor: pointer;
    width: 100%;
    color: var(--text-color);
    border: none;
    background-color: transparent !important;

    &:hover,
    &:focus,
    &:active {
      background-color: var(--bg-btn-primary-color) !important;
      color: var(--text-btn-primary-color) !important;
      border-radius: 0.25rem;
      outline: none;
    }

    &:focus:not(&--selected) {
      filter: opacity(0.8);
    }

    &--selected {
      background-color: var(--bg-btn-primary-color) !important;
      color: var(--text-btn-primary-color) !important;
      border-radius: 0.25rem;
    }
  }

  /* AJUSTES ESPECÍFICOS */
  &__months {
    .calendar-picker__header {
      justify-content: center;
    }
  }
}