<div
  class="calendar-picker"
  role="application"
  [attr.data-calendar-id]="calendarId"
>
  @if (viewMode() === VIEW_MODE.DEFAULT) {
    <div class="calendar-picker__default">
      <div class="calendar-picker__header">
        <button
          class="calendar-picker__header__btn"
          type="button"
          (click)="prevMonth($event)"
          [title]="'CALENDAR.PREV_MONTH' | translate"
          [attr.aria-label]="'CALENDAR.PREV_MONTH' | translate"
        >
          <i class="ri-arrow-left-s-line"></i>
        </button>
        <div class="calendar-picker__header__actions">
          <button
            class="calendar-picker__header__actions--selector"
            type="button"
            (click)="setMonthsView($event)"
            [title]="'CALENDAR.CHANGE_MONTH' | translate"
            [attr.aria-label]="'CALENDAR.CHANGE_MONTH' | translate"
          >
            {{ "CALENDAR.MONTH." + currentMonthNumber() | translate }}
            <i class="ri-arrow-down-s-line arrow-dropdown"></i>
          </button>
          <button
            class="calendar-picker__header__actions--selector"
            type="button"
            (click)="setYearsView($event)"
            [title]="'CALENDAR.CHANGE_YEAR' | translate"
            [attr.aria-label]="'CALENDAR.CHANGE_YEAR' | translate"
          >
            {{ currentViewDate() | date: "yyyy" }}
            <i class="ri-arrow-down-s-line arrow-dropdown"></i>
          </button>
        </div>
        <button
          type="button"
          class="calendar-picker__header__btn"
          (click)="nextMonth($event)"
          [title]="'CALENDAR.NEXT_MONTH' | translate"
          [attr.aria-label]="'CALENDAR.NEXT_MONTH' | translate"
        >
          <i class="ri-arrow-right-s-line"></i>
        </button>
      </div>

      <div class="calendar-picker__content">
        <div class="calendar-picker__weekdays">
          @for (dayKey of WEEK_DAYS; track dayKey) {
            <span>{{ dayKey | translate }}</span>
          }
        </div>
        <div class="calendar-picker__grid calendar-picker__days" role="grid">
          @for (day of daysInMonth(); track day.date.valueOf()) {
            @if (day.isDisabled || !day.isCurrentMonth) {
              <span
                class="calendar-picker__no-day"
                [class.calendar-picker__no-day--no_current_month]="
                  !day.isCurrentMonth
                "
                [class.calendar-picker__no-day--disabled]="day.isDisabled"
                [class.calendar-picker__no-day--selected]="day.isSelected"
                [class.calendar-picker__no-day--today]="day.isToday"
                [attr.aria-selected]="day.isSelected"
                [attr.aria-disabled]="true"
                [attr.aria-current]="day.isToday"
                [attr.aria-label]="getDayAccessibilityLabel(day)"
                [title]="getDayAccessibilityLabel(day)"
              >
                {{ day.date.date() }}
              </span>
            } @else {
              <button
                #dayButton
                type="button"
                class="calendar-picker__day"
                role="gridcell"
                [attr.tabindex]="-1"
                [class.calendar-picker__day--selected]="day.isSelected"
                [class.calendar-picker__day--today]="day.isToday"
                [attr.aria-selected]="day.isSelected"
                [attr.aria-disabled]="day.isDisabled"
                [attr.aria-current]="day.isToday"
                [attr.aria-label]="getDayAccessibilityLabel(day)"
                [attr.data-day]="day.date.toDate() | date: 'dd'"
                [title]="getDayAccessibilityLabel(day)"
                (click)="selectDay(day, $event)"
              >
                {{ day.date.date() }}
              </button>
            }
          }
        </div>
      </div>
    </div>
  } @else if (viewMode() === VIEW_MODE.MONTHS) {
    <div
      class="calendar-picker__months"
      cdkTrapFocus
      [cdkTrapFocusAutoCapture]="true"
      (keydown.escape)="setDefaultView()"
    >
      <div class="calendar-picker__header">
        <span class="calendar-picker__header__title">
          {{ "CALENDAR.MONTH" | translate }}
        </span>
      </div>
      <div
        class="calendar-picker__content calendar-picker__months__content"
        role="grid"
        [attr.aria-label]="'APP.MONTHS' | translate"
      >
        @for (month of allMonths; track $index) {
          <button
            #monthButton
            class="calendar-picker__month"
            type="button"
            role="gridcell"
            [attr.tabindex]="currentMonthNumber() === $index ? 0 : -1"
            [class.calendar-picker__month--selected]="
              currentMonthNumber() === $index
            "
            [title]="'CALENDAR.MONTH.' + $index | translate"
            [attr.aria-selected]="currentMonthNumber() === $index"
            [attr.aria-label]="'CALENDAR.MONTH.' + $index | translate"
            (click)="selectMonth($index, $event)"
          >
            {{ "CALENDAR.MONTH." + $index | translate }}
          </button>
        }
      </div>
      <ng-container *ngTemplateOutlet="backButton"></ng-container>
    </div>
  } @else if (viewMode() === VIEW_MODE.YEARS) {
    <div
      class="calendar-picker__years"
      cdkTrapFocus
      [cdkTrapFocusAutoCapture]="true"
      (keydown.escape)="setDefaultView()"
    >
      <div class="calendar-picker__header">
        <button
          type="button"
          class="calendar-picker__header__btn"
          (click)="loadPastYears($event)"
          [title]="'CALENDAR.PREV_YEAR' | translate"
          [attr.aria-label]="'CALENDAR.PREV_YEAR' | translate"
        >
          <i class="ri-arrow-left-s-line"></i>
        </button>
        <span class="calendar-picker__header__title">
          {{ "CALENDAR.YEAR" | translate }}
        </span>
        <button
          type="button"
          class="calendar-picker__header__btn"
          (click)="loadFutureYears($event)"
          [title]="'CALENDAR.NEXT_YEAR' | translate"
          [attr.aria-label]="'CALENDAR.NEXT_YEAR' | translate"
        >
          <i class="ri-arrow-right-s-line"></i>
        </button>
      </div>
      <div
        class="calendar-picker__content calendar-picker__years__content"
        role="grid"
      >
        @for (year of allYears; track year) {
          <button
            #yearButton
            type="button"
            role="gridcell"
            class="calendar-picker__year"
            [attr.tabindex]="currentYear() === year ? 0 : -1"
            [class.calendar-picker__year--selected]="currentYear() === year"
            (click)="selectYear(year, $event)"
            [title]="year"
            [attr.aria-selected]="currentYear() === year"
            [attr.aria-label]="year"
          >
            {{ year }}
          </button>
        }
      </div>
      <ng-container *ngTemplateOutlet="backButton"></ng-container>
    </div>
  }
</div>

<!-- TEMPLATE DEL BOTÓN VOLVER PARA LA VISTA DE MES Y AÑO -->
<ng-template #backButton>
  <div class="calendar-picker__back">
    <button
      type="button"
      class="calendar-picker__back__btn"
      (click)="setDefaultView()"
      [title]="'APP.BACK' | translate"
      [attr.aria-label]="'APP.BACK' | translate"
    >
      <i class="ri-calendar-close-fill"></i>
    </button>
  </div>
</ng-template>
