@import "config";
@import "mixins";
@import "functions";

.calendar-picker {
  box-shadow: var(--box-shadow-md);
  border-radius: var(--border-radius-md);
  background-color: var(--color-white);
  border: var(--border-width-base) solid var(--border-color-base);
  overflow: hidden;
  width: 310px;
  height: 375px;
  font-size: var(--component-font-size-m);
  color: var(--color-text);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-xs) var(--spacing-m);
    border-bottom: var(--border-width-base) solid var(--border-color-base);
  }

  &__header-btn {
    background: transparent;
    border: none;
    color: var(--color-gray-600);
    font-size: var(--component-font-size-l);
    cursor: pointer;
    padding: var(--spacing-xxs);
    border-radius: var(--border-radius-md);
    height: var(--component-height-m);
    aspect-ratio: 1 / 1;
    @include transition(all 0.2s ease-in-out);
    @include flex-center;

    &:hover {
      background-color: var(--color-gray-100);
      color: var(--color-accent);
    }
    &:focus {
      @include outline-focus;
    }
  }

  &__selectors {
    display: flex;
    gap: var(--spacing-xs);
  }

  &__selector {
    background: transparent;
    border: none;
    font-size: var(--component-font-size-m);
    font-weight: var(--font-weight-semibold);
    color: var(--color-text);
    cursor: pointer;
    padding: var(--spacing-xxs) var(--spacing-m);
    border-radius: var(--border-radius-md);
    height: var(--component-height-m);
    @include transition(all 0.2s ease-in-out);
    @include flex-center;

    .arrow-dropdown {
      margin-left: var(--spacing-xxs);
      font-size: var(--component-font-size-s);
      color: var(--color-gray-500);
    }

    &:hover {
      background-color: var(--color-gray-100);
      color: var(--color-accent);
      .arrow-dropdown {
        color: var(--color-accent);
      }
    }
    &:focus {
      @include outline-focus;
    }
  }

  &__title {
    font-size: var(--component-font-size-l);
    font-weight: var(--font-weight-bold);
    color: var(--color-text);
    padding: var(--spacing-xxs) var(--spacing-m);
  }

  &__content {
    padding: var(--spacing-xxs) var(--spacing-m);
  }

  &__weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: var(--spacing-xxs);
    border-bottom: var(--border-width-base) solid var(--border-color-base);
    font-size: var(--component-font-size-s);
    font-weight: var(--font-weight-bold);
    color: var(--color-gray-600);
    padding-bottom: var(--spacing-xs);
    padding-top: var(--spacing-xxs);
    text-align: center;
  }

  &__weekday {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--component-height-xm);
  }

  &__grid {
    display: grid;
    gap: var(--spacing-xxs);
    text-align: center;
    min-height: calc(6 * (var(--component-height-m) + var(--spacing-xxs)));
    align-content: center;
    justify-content: center;

    &--days {
      grid-template-columns: repeat(7, 1fr);
    }
    &--months {
      gap: var(--spacing-xs);
      grid-template-columns: repeat(3, 1fr);
    }
    &--years {
      gap: var(--spacing-xs);
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__grid-day,
  &__grid-month,
  &__grid-year {
    width: 100%;
    min-width: 2.3rem;
    min-height: 2.3rem;
    background-color: transparent;
    border: none;
    font-size: var(--component-font-size-m);
    font-weight: var(--font-weight-regular);
    color: var(--color-text);
    cursor: pointer;
    border-radius: var(--border-radius-md);
    @include transition(
      background-color 0.2s ease-in-out,
      color 0.2s ease-in-out,
      border-color 0.2s ease-in-out,
      box-shadow 0.2s ease
    );
    @include flex-center;

    &:hover:not(&--disabled):not(&--selected),
    &:hover:not(&--inactive):not(&--selected) {
      background-color: var(--color-gray-200);
    }

    &--today {
      border: 1px solid var(--color-accent);
      color: var(--color-accent);
      font-weight: var(--font-weight-bold);
      background-color: var(--color-accent-tint-95);
    }

    &--selected,
    &:focus {
      background-color: var(--color-accent);
      color: var(--color-white);
      font-weight: var(--font-weight-bold);
    }

    &:focus:not(&--disabled),
    &:focus:not(&--inactive) {
      @include outline-focus;
    }

    &--disabled,
    &--inactive {
      color: var(--color-gray-500);
      cursor: default;
      opacity: 0.6;
      background-color: transparent;
      &:hover {
        background-color: transparent !important;
      }
    }
    &--disabled {
      cursor: not-allowed;
      text-decoration: line-through;
    }

    &--inactive.calendar-picker__grid-day--selected {
      background-color: var(--color-accent-tint-65);
      color: var(--color-accent);
      &:hover {
        background-color: var(--color-accent-tint-65) !important;
        color: var(--color-accent);
      }
    }

    &--disabled.calendar-picker__grid-day--selected {
      background-color: var(--color-danger-tint-50);
      color: var(--color-white);
      &:hover {
        background-color: var(--color-danger-tint-50) !important;
        color: var(--color-white);
      }
    }
  }

  &__grid-month,
  &__grid-year {
    height: var(--component-height-m);
  }

  &__back {
    display: flex;
    justify-content: center;
    padding: var(--spacing-xxs);
    border-top: var(--border-width-base) solid var(--border-color-base);

    .calendar-picker__back-btn {
      @extend .calendar-picker__header-btn;
      font-size: var(--component-font-size-m);
      color: var(--color-text);
      font-weight: var(--font-weight-medium);
      padding: var(--spacing-xs) var(--spacing-m);
      i {
        font-size: var(--component-font-size-m);
        color: var(--color-gray-600);
      }
      &:hover {
        color: var(--color-accent);
        i {
          color: var(--color-accent);
        }
      }
    }
  }
}
