<div class="neo-date-picker">
  @if (label) {
    <label
      class="neo-date-picker__label"
      [attr.for]="_id()"
      [attr.id]="_labelId()"
    >
      <span [innerHtml]="label"></span>
      @if (required) {
        <abbr aria-hidden="true">*</abbr>
      }
    </label>
  }
  <div class="neo-date-picker__wrapper">
    <input
      tabindex="0"
      (click)="toogleCalendar($event)"
      (keydown.space)="toogleCalendar($event)"
      (keydown.enter)="toogleCalendar($event)"
      cdkOverlayOrigin
      #datePickerInput
      #datePicker="cdkOverlayOrigin"
      #dpInput="ngModel"
      class="
        neo-date-picker__wrapper__field 
        neo-date-picker__wrapper__field--{{ inputSize }}
      "
      [class.neo-date-picker__wrapper__field--has-error]="
        dpInput?.errors && (dpInput?.dirty || dpInput?.touched)
      "
      [class.neo-date-picker__wrapper__field--clear]="showClear"
      [class.neo-date-picker__wrapper__field--disabled]="_disabled()"
      [value]="_value()"
      [(ngModel)]="value"
      (input)="onInput(dpInput.value)"
      (blur)="onBlur()"
      [attr.id]="_id()"
      [attr.aria-disabled]="_disabled()"
      [attr.aria-readonly]="true"
      [attr.aria-labelledby]="_labelId()"
      [attr.aria-owns]="_labelId()"
      [attr.aria-describedby]="ariaDescribedBy || ariaDescribedByCustom"
      [attr.aria-invalid]="
        dpInput?.errors && (dpInput?.dirty || dpInput?.touched)
      "
      [readonly]="true"
      [disabled]="_disabled()"
      [required]="required"
      [attr.aria-required]="required"
      [attr.placeholder]="placeholder"
      [attr.autocomplete]="autocomplete"
      [attr.name]="name"
      [title]="title || label || placeholder || ''"
      [showClear]="showClear"
      (clear)="clearInput()"
      autocomplete="off"
      type="text"
    />
    @if (showIconCalendar) {
      <i
        class="
        neo-date-picker__wrapper__icon 
        neo-date-picker__wrapper__icon--{{ inputSize }}
        {{ icon }}
        "
        [class.neo-date-picker__wrapper__icon--disabled]="_disabled()"
        [tabindex]="!_disabled() ? 0 : -1"
        (click)="toogleCalendar($event)"
        (keydown.enter)="toogleCalendar($event)"
        (keydown.space)="toogleCalendar($event)"
        cdkOverlayOrigin
      ></i>
    }
  </div>
</div>
<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="datePicker"
  [cdkConnectedOverlayOpen]="isOpened()"
  [cdkConnectedOverlayScrollStrategy]="scrollStrategy"
  [cdkConnectedOverlayPositions]="overlayPositions"
  (detach)="onOverlayDetached()"
>
  <div
    cdkTrapFocus
    [cdkTrapFocusAutoCapture]="true"
    (keydown.escape)="closeCalendar()"
    #calendarOverlay
    [@fadeInOutScale]="isOpened() ? '*' : 'void'"
  >
    <neo-calendar
      [date]="realDateValue() ?? null"
      [type]="type"
      [disabledDates]="disabledDates || []"
      [blockDisabledRanges]="blockDisabledRanges"
      [isOpenedByOverlay]="true"
      (dateSelected)="setCalendarValue($event)"
      class="neo-date-picker__calendar"
    ></neo-calendar>
  </div>
</ng-template>
