<div class="neo-date-picker">
  @if (label) {
    <label class="neo-date-picker__label" [for]="_id()" [attr.id]="_labelId()">
      <span [innerHtml]="label"></span>
      @if (required) {
        <abbr aria-hidden="true">*</abbr>
      }
    </label>
  }
  <div
    class="neo-date-picker__wrapper neo-date-picker__wrapper--{{ inputSize }}"
    [class.neo-date-picker__wrapper--icon-inside]="!hideIcon && iconInside"
    [class.neo-date-picker__wrapper--focused]="focused"
    [class.neo-date-picker__wrapper--bg-icon]="
      !hideIcon && bgIcon && !iconInside
    "
    [class.neo-date-picker__wrapper--disabled]="_disabled()"
    [class.neo-date-picker__wrapper--has-error]="
      dpInput?.errors && (dpInput?.dirty || dpInput?.touched)
    "
  >
    <div class="neo-date-picker__wrapper__field-container">
      <input
        cdkOverlayOrigin
        #datePickerInput
        #datePicker="cdkOverlayOrigin"
        #dpInput="ngModel"
        class="neo-date-picker__wrapper__field"
        [class.neo-date-picker__wrapper__field--has-error]="
          dpInput?.errors && (dpInput?.dirty || dpInput?.touched)
        "
        [class.neo-date-picker__wrapper__field--icon]="!hideIcon"
        [class.neo-date-picker__wrapper__field--clear]="showClear"
        (click)="toogleCalendar($event)"
        (keydown.space)="toogleCalendar($event)"
        (keydown.enter)="toogleCalendar($event)"
        [ngModel]="value"
        (ngModelChange)="onInput($event)"
        (blur)="onBlur()"
        (focus)="focused = true"
        [attr.id]="_id()"
        [attr.title]="label"
        [attr.autofocus]="autofocus"
        [attr.aria-disabled]="_disabled()"
        [attr.aria-readonly]="true"
        [attr.aria-labelledby]="_labelId()"
        [attr.aria-owns]="_labelId()"
        [attr.aria-describedby]="ariaDescribedBy || ariaDescribedByCustom"
        [attr.aria-invalid]="
          dpInput?.errors && (dpInput?.dirty || dpInput?.touched)
        "
        [readonly]="true"
        [disabled]="_disabled()"
        [attr.required]="required"
        [attr.aria-required]="required"
        [attr.placeholder]="placeholder"
        autocomplete="off"
        [showClear]="showClear"
        (clear)="clearInput()"
      />
    </div>
    @if (!hideIcon) {
      <button
        cdkOverlayOrigin
        type="button"
        class="neo-date-picker_wrapper__icon"
        [class.neo-date-picker_wrapper__icon--bg]="bgIcon && !iconInside"
        [class.neo-date-picker_wrapper__icon--inside]="iconInside"
        [title]="_translations.openCalendar"
        [attr.aria-label]="_translations.openCalendar"
        [tabindex]="!_disabled() ? 0 : -1"
        (click)="toogleCalendar($event)"
        (keydown.enter)="toogleCalendar($event)"
        (keydown.space)="toogleCalendar($event)"
      >
        <i class="{{ icon }}"></i>
      </button>
    }
  </div>
</div>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="datePicker"
  [cdkConnectedOverlayOpen]="isOpened()"
  [cdkConnectedOverlayScrollStrategy]="scrollStrategy"
  [cdkConnectedOverlayPositions]="overlayPositions"
  (detach)="onOverlayDetached()"
>
  <div
    cdkTrapFocus
    [cdkTrapFocusAutoCapture]="true"
    (keydown.escape)="closeCalendar()"
    #calendarOverlay
    [@fadeInOutScale]="isOpened() ? '*' : 'void'"
  >
    <neo-calendar
      [date]="realDateValue() ?? null"
      [type]="type"
      [size]="_calendarSize()"
      [disabledDates]="disabledDates || []"
      [blockDisabledRanges]="blockDisabledRanges"
      [isOpenedByOverlay]="true"
      (dateSelected)="setCalendarValue($event)"
      class="neo-date-picker__calendar"
    ></neo-calendar>
  </div>
</ng-template>
