@import "config";
@import "mixins";
@import "functions";

.neo-date-picker {
  position: relative;

  &__wrapper {
    position: relative;

    &__field {
      // Tamaño dinámico para el input según el tamaño del componente
      @each $size-key, $input-size in $component-heights {
        &--#{$size-key} {
          @include component-size($size-key);
        }
      }

      width: 100%;
      border-radius: $border-radius-md;
      box-sizing: border-box;
      padding-right: calc(#{$spacing-m} * 2 + #{$spacing-xs}) !important;
      cursor: pointer;
      background-color: var(--bg-field-color);
      border: $border-width-base solid var(--border-field-color);

      &:focus:not(&--disabled),
      &:active:not(&--disabled) {
        @include outline-focus;
      }

      &--clear {
        padding-right: calc(
          #{$spacing-m} * 2 + #{$spacing-xxs} + #{$spacing-s}
        );
      }

      &--has-error {
        border: $border-width-xs solid var(--color-danger);
      }

      &[disabled],
      &:disabled,
      &--disabled {
        @include disabled;
      }
    }

    &__icon {
      position: absolute;
      right: 0;
      top: 0;
      cursor: pointer;
      @include flex-center;

      // Tamaño dinámico para el icono según el tamaño del componente
      @each $size-key, $icon-size in $component-heights {
        &--#{$size-key} {
          @include component-icon-size($size-key);
        }
      }

      &::before {
        color: var(--icon-field-color);
      }

      &:focus:not(&--disabled),
      &:active:not(&--disabled) {
        @include outline-focus;
        border-radius: $border-radius-md;
      }

      &[disabled],
      &:disabled,
      &--disabled {
        @include disabled;
      }
    }

    .neo-clear-field-button {
      right: calc(#{$spacing-s} * 2) !important;
    }
  }
}
