@import "config";
@import "mixins";
@import "functions";

.neo-date-picker {
  position: relative;

  &__wrapper {
    position: relative;

    &__field {
      &--xs {
        @include component-size(xs);
      }
      &--s {
        @include component-size(s);
      }
      &--xm {
        @include component-size(xm);
      }
      &--m {
        @include component-size(m);
      }
      &--l {
        @include component-size(l);
      }
      &--xl {
        @include component-size(xl);
      }

      width: 100%;
      border-radius: $border-radius-md;
      box-sizing: border-box;
      padding-right: calc(#{$spacing-m} * 2 + #{$spacing-xs}) !important;
      cursor: pointer;
      background-color: var(--bg-field-color);
      border: $border-width-base solid var(--border-field-color);

      &:focus:not(&--disabled),
      &:active:not(&--disabled) {
        @include outline-focus;
      }

      &--clear {
        padding-right: calc(
          #{$spacing-m} * 2 + #{$spacing-xxs} + #{$spacing-s}
        );
      }

      &--has-error {
        border: $border-width-xs solid var(--color-danger);
      }

      &[disabled],
      &:disabled,
      &--disabled {
        @include disabled;
      }
    }

    &__icon {
      position: absolute;
      right: 0;
      top: 0;
      cursor: pointer;
      @include flex-center;
      &--xs {
        @include component-icon-size(xs);
      }
      &--s {
        @include component-icon-size(s);
      }
      &--xm {
        @include component-icon-size(xm);
      }
      &--m {
        @include component-icon-size(m);
      }
      &--l {
        @include component-icon-size(l);
      }
      &--xl {
        @include component-icon-size(xl);
      }

      &::before {
        color: var(--icon-field-color);
      }

      &:focus:not(&--disabled),
      &:active:not(&--disabled) {
        @include outline-focus;
        border-radius: $border-radius-md;
      }

      &[disabled],
      &:disabled,
      &--disabled {
        @include disabled;
      }
    }

    .neo-clear-field-button {
      right: calc(#{$spacing-s} * 2) !important;
    }
  }
}
