<nav class="paginator" class="{{ 'paginator--dir_' + position }}">
  @if (type === "fullnumber" || type === "rangenumber") {
    @if (total !== 0 && total > pageSize) {
      <div class="paginator__pagination">
        @if (showLastFirstBtns) {
          <div
            class="paginator__pagination__page"
            (click)="pageSelected(1, $event)"
            role="button"
            tabindex="0"
            (keydown.enter)="pageSelected(1, $event)"
            (keydown.space)="pageSelected(1, $event)"
            [class.disabled]="currentPage === 1"
            [attr.aria-label]="'pagination.first_page' | translate"
            [attr.aria-disabled]="currentPage === 1"
            [title]="'pagination.first_page' | translate"
          >
            <span class="paginator__pagination__page__link">
              <i class="ri-skip-left-fill"></i>
            </span>
          </div>
        }
        <div
          class="paginator__pagination__page"
          role="button"
          tabindex="0"
          (click)="pageSelected(currentPage - 1, $event)"
          (keydown.enter)="pageSelected(currentPage - 1, $event)"
          (keydown.space)="pageSelected(currentPage - 1, $event)"
          [class.disabled]="currentPage === 1"
          [title]="'app.anterior' | translate"
          [attr.aria-label]="'app.anterior' | translate"
          [attr.aria-disabled]="currentPage === 1"
        >
          <span class="paginator__pagination__page__link"
            ><i class="ri-arrow-left-s-fill"></i
          ></span>
        </div>

        @if (type === "rangenumber" && currentPage - range > 1) {
          <div class="disabled paginator__pagination__page">
            <span class="paginator__pagination__page__range">...</span>
          </div>
        }

        @for (page of pages; track page) {
          <div
            class="paginator__pagination__page"
            [class.active]="page === currentPage"
            role="button"
            tabindex="0"
            (click)="pageSelected(page, $event)"
            (keydown.enter)="pageSelected(page, $event)"
            (keydown.space)="pageSelected(page, $event)"
          >
            @if (page !== currentPage) {
              <span
                class="paginator__pagination__page__link"
                [title]="'pagination.page' | translate: { page: page }"
                [attr.aria-label]="
                  'pagination.page' | translate: { page: page }
                "
              >
                {{ page }}
              </span>
            }

            @if (page === currentPage) {
              <span
                class="paginator__pagination__page__link"
                [title]="'pagination.page' | translate: { page: page }"
                [attr.aria-label]="
                  'pagination.page' | translate: { page: page }
                "
                >{{ page }}</span
              >
            }
          </div>
        }

        @if (type === "rangenumber" && currentPage + range - 1 < totalPages) {
          <div
            class="paginator__pagination__page"
            class="disabled paginator__pagination__page"
          >
            <span class="paginator__pagination__page__range">...</span>
          </div>
        }

        <div
          class="paginator__pagination__page"
          role="button"
          tabindex="0"
          (click)="pageSelected(currentPage + 1, $event)"
          (keydown.enter)="pageSelected(currentPage + 1, $event)"
          (keydown.space)="pageSelected(currentPage + 1, $event)"
          [class.disabled]="currentPage === totalPages"
          [title]="'app.siguiente' | translate"
          [attr.aria-label]="'app.siguiente' | translate"
          [attr.aria-disabled]="currentPage === totalPages"
        >
          <span class="paginator__pagination__page__link"
            ><i class="ri-arrow-right-s-fill"></i
          ></span>
        </div>

        @if (showLastFirstBtns) {
          <div
            class="paginator__pagination__page"
            role="button"
            tabindex="0"
            (click)="pageSelected(totalPages, $event)"
            (keydown.enter)="pageSelected(totalPages, $event)"
            (keydown.space)="pageSelected(totalPages, $event)"
            [class.disabled]="currentPage === totalPages"
            [title]="'pagination.last_page' | translate"
            [attr.aria-label]="'pagination.last_page' | translate"
            [attr.aria-disabled]="currentPage === totalPages"
          >
            <span class="paginator__pagination__page__link">
              <i class="ri-skip-right-fill"></i>
            </span>
          </div>
        }
      </div>
    }
  } @else if (type === "nonumber" || type === "dividenumber") {
    @if (total !== 0) {
      <div class="paginator__pagination">
        @if (showLastFirstBtns) {
          <div
            class="paginator__pagination__page"
            role="button"
            tabindex="0"
            (click)="pageSelected(1, $event)"
            (keydown.enter)="pageSelected(1, $event)"
            (keydown.space)="pageSelected(1, $event)"
            [class.disabled]="currentPage === 1"
            [title]="'pagination.first_page' | translate"
            [attr.aria-label]="'pagination.first_page' | translate"
            [attr.aria-disabled]="currentPage === 1"
          >
            <span class="paginator__pagination__page__link">
              <i class="ri-skip-left-fill"></i>
            </span>
          </div>
        }

        <div
          class="paginator__pagination__page"
          role="button"
          tabindex="0"
          (click)="pageSelected(currentPage - 1, $event)"
          (keydown.enter)="pageSelected(currentPage - 1, $event)"
          (keydown.space)="pageSelected(currentPage - 1, $event)"
          [class.disabled]="currentPage === 1"
          [title]="'app.anterior' | translate"
          [attr.aria-label]="'app.anterior' | translate"
          [attr.aria-disabled]="currentPage === 1"
        >
          <span class="paginator__pagination__page__link"
            ><i class="ri-arrow-left-s-fill"></i
          ></span>
        </div>

        @if (type === "dividenumber") {
          <div
            class="paginator__pagination__dividenumber"
            [title]="
              'pagination.page_to_of_total'
                | translate: { page: currentPage, total: totalPages }
            "
            [attr.aria-label]="
              'pagination.page_to_of_total'
                | translate: { page: currentPage, total: totalPages }
            "
          >
            <span class="paginator__pagination__dividenumber--current">{{
              currentPage
            }}</span
            >/<span class="paginator__pagination__dividenumber--total">{{
              totalPages
            }}</span>
          </div>
        }

        <div
          class="paginator__pagination__page"
          role="button"
          tabindex="0"
          (click)="pageSelected(currentPage + 1, $event)"
          (keydown.enter)="pageSelected(currentPage + 1, $event)"
          (keydown.space)="pageSelected(currentPage + 1, $event)"
          [class.disabled]="currentPage === totalPages"
          [title]="'app.siguiente' | translate"
          [attr.aria-label]="'app.siguiente' | translate"
          [attr.aria-disabled]="currentPage === totalPages"
        >
          <span class="paginator__pagination__page__link"
            ><i class="ri-arrow-right-s-fill"></i
          ></span>
        </div>

        @if (showLastFirstBtns) {
          <div
            class="paginator__pagination__page"
            role="button"
            tabindex="0"
            (click)="pageSelected(totalPages, $event)"
            (keydown.enter)="pageSelected(totalPages, $event)"
            (keydown.space)="pageSelected(totalPages, $event)"
            [class.disabled]="currentPage === totalPages"
            [title]="'pagination.last_page' | translate"
            [attr.aria-label]="'pagination.last_page' | translate"
            [attr.aria-disabled]="currentPage === totalPages"
          >
            <span class="paginator__pagination__page__link">
              <i class="ri-skip-right-fill"></i>
            </span>
          </div>
        }
      </div>
    }
  }
  @if (showTotal && total > 0) {
    <div
      class="paginator__total_results"
      [title]="
        'pagination.total_label'
          | translate
            : {
                totalPageResults: totalResults,
                totalResults: total
              }
      "
      [attr.aria-label]="
        'pagination.total_label'
          | translate
            : {
                totalPageResults: totalResults,
                totalResults: total
              }
      "
    >
      <span class="paginator__total_results--currents">
        {{ totalResults }}</span
      >
      /
      <span class="paginator__total_results--total">{{ total }}</span>
    </div>
  }
</nav>
