<div class="modal-box">
  <div mat-dialog-title class="modal-box__title">
    @if (data.title) {
      <neo-section-title [icon]="data.iconTitle || ''" [title]="data.title">
      </neo-section-title>
    }
    @if (data.canBeClosed) {
      <button
        class="modal-box__close"
        tabindex="0"
        [title]="'app.cerrar' | translate"
        [attr.aria-label]="'app.cerrar' | translate"
        (click)="cancel()"
        (keydown.enter)="cancel()"
        (keydown.space)="cancel()"
        autofocus
      >
        <i class="ri-close-fill"></i>
      </button>
    }
  </div>
  @if (data.message) {
    <div
      mat-dialog-content
      class="modal-box__body"
      [innerHTML]="data.message | safeHtml"
    ></div>
  }
  @if (data.cancelText || data.confirmText) {
    <div mat-dialog-actions class="modal-box__footer">
      @if (data.confirmText) {
        <neo-button cdkFocusInitial (onClick)="confirm()" color="primary">{{
          data.confirmText
        }}</neo-button>
      }
      @if (data.cancelText) {
        <neo-button color="secondary" (onClick)="cancel()">{{
          data.cancelText
        }}</neo-button>
      }
    </div>
  }
</div>
