<neo-card>
  <neo-card-header>
    <div>Breadcrumb</div>
  </neo-card-header>
  <div class="row">
    <div class="col-12">
      <neo-breadcrumb></neo-breadcrumb>
    </div>
  </div>
</neo-card>
<hr />
<neo-card [collapsable]="true">
  <neo-card-header>
    <div>Tipos de botones</div>
    <small>
      Los botones son componentes interactivos que permiten al usuario realizar
      acciones. Los botones pueden tener diferentes colores, tamaños y estilos.
      También pueden tener iconos y texto.
    </small>
  </neo-card-header>
  <div class="row">
    <div class="col-3">
      <label>Botón primary</label>
      <neo-button [color]="'primary'" (onClick)="buttonClicked()"
        >Botón primary</neo-button
      >
    </div>
    <div class="col-3">
      <label>Botón primary deshabilitado</label>
      <neo-button [color]="'primary'" [disabled]="true"
        >Botón primary</neo-button
      >
    </div>
    <div class="col-2">
      <label>Primary transparente + icono</label>
      <neo-button [color]="'primary'" [transparent]="true">
        <i class="ri-user-line"></i>
        <span>Botón primary</span>
      </neo-button>
    </div>
    <div class="col-2">
      <label>Primary y background</label>
      <neo-button color="primary" mode="icon">
        <i class="ri-newspaper-fill"></i>
      </neo-button>
    </div>
    <div class="col-2">
      <label>Primary y transparente</label>
      <neo-button color="primary" mode="icon" [transparent]="true">
        <i class="ri-newspaper-fill"></i>
      </neo-button>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-3">
      <label>Botón secondary</label>
      <neo-button [color]="'secondary'" (onClick)="buttonClicked()"
        >Botón secondary</neo-button
      >
    </div>
    <div class="col-3">
      <label>Botón secondary deshabilitado</label>
      <neo-button [color]="'secondary'" [disabled]="true"
        >Botón secondary</neo-button
      >
    </div>
    <div class="col-2">
      <label>Secondary transparente + icono</label>
      <neo-button [color]="'secondary'" [transparent]="true">
        <i class="ri-user-line"></i>
        <span>Botón secondary</span>
      </neo-button>
    </div>
    <div class="col-2">
      <label>Secondary y background</label>
      <neo-button color="secondary" mode="icon">
        <i class="ri-newspaper-fill"></i>
      </neo-button>
    </div>
    <div class="col-2">
      <label>Secondary y transparente</label>
      <neo-button color="secondary" mode="icon" [transparent]="true">
        <i class="ri-newspaper-fill"></i>
      </neo-button>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-3">
      <label>Botón success</label>
      <neo-button [color]="'success'" (onClick)="buttonClicked()"
        >Botón success</neo-button
      >
    </div>
    <div class="col-3">
      <label>Botón success deshabilitado</label>
      <neo-button [color]="'success'" [disabled]="true"
        >Botón success</neo-button
      >
    </div>
    <div class="col-2">
      <label>Success transparente + icono</label>
      <neo-button [color]="'success'" [transparent]="true">
        <i class="ri-user-line"></i>
        <span>Botón success</span>
      </neo-button>
    </div>
    <div class="col-2">
      <label>Success y background</label>
      <neo-button color="success" mode="icon">
        <i class="ri-newspaper-fill"></i>
      </neo-button>
    </div>
    <div class="col-2">
      <label>Success y transparente</label>
      <neo-button color="success" mode="icon" [transparent]="true">
        <i class="ri-newspaper-fill"></i>
      </neo-button>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-3">
      <label>Botón info</label>
      <neo-button [color]="'info'" (onClick)="buttonClicked()"
        >Botón info</neo-button
      >
    </div>
    <div class="col-3">
      <label>Botón info deshabilitado</label>
      <neo-button [color]="'info'" [disabled]="true">Botón info</neo-button>
    </div>
    <div class="col-2">
      <label>Info transparente + icono</label>
      <neo-button [color]="'info'" [transparent]="true">
        <i class="ri-user-line"></i>
        <span>Botón info</span>
      </neo-button>
    </div>
    <div class="col-2">
      <label>Info y background</label>
      <neo-button color="info" mode="icon">
        <i class="ri-newspaper-fill"></i>
      </neo-button>
    </div>
    <div class="col-2">
      <label>Info y transparente</label>
      <neo-button color="info" mode="icon" [transparent]="true">
        <i class="ri-newspaper-fill"></i>
      </neo-button>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-3">
      <label>Botón danger</label>
      <neo-button [color]="'danger'" (onClick)="buttonClicked()"
        >Botón danger</neo-button
      >
    </div>
    <div class="col-3">
      <label>Botón danger deshabilitado</label>
      <neo-button [color]="'danger'" [disabled]="true">Botón danger</neo-button>
    </div>
    <div class="col-2">
      <label>Danger transparente + icono</label>
      <neo-button [color]="'danger'" [transparent]="true">
        <i class="ri-user-line"></i>
        <span>Botón danger</span>
      </neo-button>
    </div>
    <div class="col-2">
      <label>Danger y background</label>
      <neo-button color="danger" mode="icon">
        <i class="ri-newspaper-fill"></i>
      </neo-button>
    </div>
    <div class="col-2">
      <label>Danger y transparente</label>
      <neo-button color="danger" mode="icon" [transparent]="true">
        <i class="ri-newspaper-fill"></i>
      </neo-button>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-3">
      <label>Botón warning</label>
      <neo-button [color]="'warning'" (onClick)="buttonClicked()"
        >Botón warning</neo-button
      >
    </div>
    <div class="col-3">
      <label>Botón warning deshabilitado</label>
      <neo-button [color]="'warning'" [disabled]="true"
        >Botón warning</neo-button
      >
    </div>
    <div class="col-2">
      <label>Warning transparente + icono</label>
      <neo-button [color]="'warning'" [transparent]="true">
        <i class="ri-user-line"></i>
        <span>Botón warning</span>
      </neo-button>
    </div>
    <div class="col-2">
      <label>Warning y background</label>
      <neo-button color="warning" mode="icon">
        <i class="ri-newspaper-fill"></i>
      </neo-button>
    </div>
    <div class="col-2">
      <label>Warning y transparente</label>
      <neo-button color="warning" mode="icon" [transparent]="true">
        <i class="ri-newspaper-fill"></i>
      </neo-button>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-2">
      <label>Botón XS</label>
      <neo-button [size]="'xs'">Botón XS</neo-button>
    </div>
    <div class="col-2">
      <label>Botón S</label>
      <neo-button [size]="'s'">Botón S</neo-button>
    </div>
    <div class="col-2">
      <label>Botón XM</label>
      <neo-button [size]="'xm'">Botón XM</neo-button>
    </div>
    <div class="col-2">
      <label>Botón M</label>
      <neo-button>Botón M</neo-button>
    </div>
    <div class="col-2">
      <label>Botón L</label>
      <neo-button [size]="'l'">Botón L</neo-button>
    </div>
    <div class="col-2">
      <label>Botón XL</label>
      <neo-button [size]="'xl'">Botón XL</neo-button>
    </div>
  </div>
</neo-card>
<hr />
<neo-card>
  <neo-card-header>
    <div>Tipos de toast</div>
    <small
      >(<a href="https://www.npmjs.com/package/ngx-toastr" target="_blank"
        >Librería ngx-toastr</a
      >)</small
    >
  </neo-card-header>
  <div class="row">
    <div class="col-4">
      <label>Toast success</label>
      <neo-button color="secondary" (onClick)="toastSuccess()"
        >Toast success</neo-button
      >
    </div>
    <div class="col-4">
      <label>Toast error</label>
      <neo-button color="secondary" (onClick)="toastError()"
        >Toast error</neo-button
      >
    </div>
    <div class="col-4">
      <label>Toast warning</label>
      <neo-button color="secondary" (onClick)="toastWarning()"
        >Toast warning</neo-button
      >
    </div>
  </div>
</neo-card>
<hr />
<neo-card>
  <neo-card-header>
    <div>Tipos de inputs</div>
    <small>
      Los componentes <b>neo-input</b>, <b>neo-input-password</b>,
      <b>neo-textarea</b>, <b>neo-select</b>, <b>neo-date-picker</b>,
      <b>neo-input-file</b>, <b>neo-checkbox</b> y <b>neo-radio-button</b> son
      componentes de formulario que permiten la entrada de datos por parte del
      usuario. Estos componentes son personalizables y pueden ser utilizados en
      formularios reactivos o basados en plantillas.
    </small>
  </neo-card-header>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-6 mb-2 mt-2">
      <neo-input-number
        label="Input number completo"
        [locale]="'ja-JP'"
        [currencyPosition]="'right'"
        [minFractionDigits]="2"
        [maxFractionDigits]="4"
        [mode]="'currency'"
        [useGrouping]="true"
        [align]="'right'"
        [showButtons]="true"
        [buttonsPosition]="'inside'"
        [required]="true"
      />
      <neo-input
        label="Input normal con prefijo de icono"
        (change)="inputChange($event)"
        [prefixIcon]="'ri-corner-left-up-line'"
        [bgPrefix]="true"
      ></neo-input>
      <br />
      <neo-input label="Input normal requerido" [required]="true"></neo-input>
      <br />
      <neo-input
        label="Input normal con showClear"
        [showClear]="true"
      ></neo-input>
      <br />
      <neo-input
        label="Input normal requerido con mensaje"
        [(ngModel)]="inputvalue"
        [required]="true"
        #neoInput="ngModel"
      ></neo-input>
      <neo-form-error [ngModelControl]="neoInput"></neo-form-error>
      <br />
      <neo-input
        label="Input normal deshabilitado"
        [disabled]="true"
        [required]="true"
        [value]="'Texto de prueba'"
      ></neo-input>
      <br />
      <neo-input-password label="Input password"></neo-input-password>
      <br />
      <form [formGroup]="testForm">
        <neo-input
          [label]="'Campo con ReactiveForm'"
          formControlName="name"
          [required]="true"
        ></neo-input>
        <neo-form-error [control]="this.testForm.get('name')"></neo-form-error>
      </form>
      <br />
      <neo-textarea label="Textarea"></neo-textarea>
      <br />
      <neo-textarea label="Textarea required" [required]="true"></neo-textarea>
    </div>
    <div class="col-12 col-md-6 col-lg-6 mb-2 mt-2">
      <neo-dropdown
        [label]="'Dropdown con ngModel múltiple, buscador y limpiar'"
        [content]="countries"
        placeholder="Selecciona un país"
        [multiple]="true"
        [searchable]="false"
        [(ngModel)]="selectedCountry"
        [showClear]="true"
      ></neo-dropdown>
      <p>País seleccionado: {{ selectedCountry | json }}</p>
      <hr />
      <neo-dropdown
        [label]="'Dropdown con ngModel y buscador'"
        [content]="categories"
        placeholder="Selecciona una categoría"
        [searchable]="true"
        [(ngModel)]="selectedCategory"
      ></neo-dropdown>
      <p>Categoría seleccionada: {{ selectedCategory | json }}</p>
      <hr />
      <neo-dropdown
        [label]="'Dropdown con ngModel, buscador y ScrollView (virtual)'"
        [content]="largeDataSet"
        placeholder="Selecciona una opción"
        [searchable]="true"
        [(ngModel)]="selectedItemFromLargeData"
      ></neo-dropdown>
      <p>Item seleccionado: {{ selectedItemFromLargeData | json }}</p>
      <hr />
      <neo-dropdown
        [label]="'Dropdown con ng-content y grupos de opciones'"
        placeholder="Selecciona una fruta"
        [searchable]="true"
        [(ngModel)]="selectedFruitNgContent"
      >
        <neo-option-group [label]="'Cítricos'">
          <neo-option value="lemon">Limón</neo-option>
          <neo-option value="orange">Naranja</neo-option>
          <neo-option value="grapefruit" [disabled]="true"
            >Pomelo (deshabilitado)</neo-option
          >
        </neo-option-group>

        <neo-option-group [label]="'Frutas de Hueso'">
          <neo-option value="peach">Melocotón</neo-option>
          <neo-option value="cherry">Cereza</neo-option>
        </neo-option-group>

        <neo-option value="banana">Plátano (sin grupo)</neo-option>
      </neo-dropdown>
      <p>Fruta seleccionada: {{ selectedFruitNgContent | json }}</p>
      <hr />
      <neo-dropdown
        [label]="
          'Dropdown con campos personalizados para indicar el valor y la etiqueta'
        "
        [content]="customData"
        placeholder="Selecciona un ítem (Custom Fields)"
        [searchable]="true"
        valueField="id_item"
        labelField="texto_item"
        [(ngModel)]="selectedCustomItem"
      ></neo-dropdown>
      <p>Ítem seleccionado: {{ selectedCustomItem | json }}</p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-2">
      <neo-form-field>
        <neo-input label="Input XS" [inputSize]="'xs'"></neo-input>
      </neo-form-field>
    </div>
    <div class="col-2">
      <neo-form-field>
        <neo-input label="Input S" [inputSize]="'s'"></neo-input>
      </neo-form-field>
    </div>
    <div class="col-2">
      <neo-form-field>
        <neo-input label="Input XM" [inputSize]="'xm'"></neo-input>
      </neo-form-field>
    </div>
    <div class="col-2">
      <neo-form-field>
        <neo-input label="Input M (Estándar)" [inputSize]="'m'"></neo-input>
      </neo-form-field>
    </div>
    <div class="col-2">
      <neo-form-field>
        <neo-input label="Input L" [inputSize]="'l'"></neo-input>
      </neo-form-field>
    </div>
    <div class="col-2">
      <neo-form-field>
        <neo-input label="Input XL" [inputSize]="'xl'"></neo-input>
      </neo-form-field>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-3">
      <neo-checkbox
        [label]="'Label del checkbox'"
        [checked]="true"
        (change)="checkboxChange($event)"
        >Checkbox</neo-checkbox
      >
    </div>
    <div class="col-3">
      <neo-checkbox
        [label]="'Label del checkbox indeterminate'"
        [indeterminate]="true"
        (change)="checkboxChange($event)"
        >Checkbox</neo-checkbox
      >
    </div>
    <div class="col-3">
      <neo-checkbox
        [label]="'Label del checkbox ngModel'"
        [checked]="true"
        [(ngModel)]="checkboxValue"
        (change)="checkboxChangeNM()"
        >Checkbox ngModel</neo-checkbox
      >
    </div>
    <div class="col-3">
      <neo-checkbox
        [label]="'Checkbox deshabilitado'"
        inputSize="l"
        [disabled]="true"
        >Checkbox deshabilitado</neo-checkbox
      >
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-2">
      <neo-checkbox [inputSize]="'xs'">Checkbox (Tamaño s)</neo-checkbox>
    </div>
    <div class="col-2">
      <neo-checkbox [inputSize]="'s'">Checkbox (Tamaño s)</neo-checkbox>
    </div>
    <div class="col-2">
      <neo-checkbox [inputSize]="'xm'">Checkbox (Tamaño m)</neo-checkbox>
    </div>
    <div class="col-2">
      <neo-checkbox [inputSize]="'m'">Checkbox (Tamaño m)</neo-checkbox>
    </div>
    <div class="col-2">
      <neo-checkbox [inputSize]="'l'">Checkbox (Tamaño l)</neo-checkbox>
    </div>
    <div class="col-2">
      <neo-checkbox [inputSize]="'xl'">Checkbox (Tamaño xl)</neo-checkbox>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-3">
      <neo-radio-button-group
        [(ngModel)]="radioButtonValue"
        [label]="'Radiobutton ngModel'"
      >
        <neo-radio-button [value]="1">Opción 1</neo-radio-button>
        <neo-radio-button [value]="2">Opción 2</neo-radio-button>
        <neo-radio-button [value]="3">Opción 3</neo-radio-button>
      </neo-radio-button-group>
      <small>{{ radioButtonValue | json }}</small>
    </div>
    <div class="col-3">
      <form [formGroup]="testFormRadioButton">
        <neo-radio-button-group
          formControlName="radioButtonControl"
          [label]="'Radiobutton ReactiveForm'"
        >
          <neo-radio-button [value]="1">Opción 1</neo-radio-button>
          <neo-radio-button [value]="2">Opción 2</neo-radio-button>
          <neo-radio-button [value]="3">Opción 3</neo-radio-button>
        </neo-radio-button-group>
      </form>
      <small>{{ testFormRadioButton.value | json }}</small>
    </div>
    <div class="col-3">
      <neo-radio-button-group
        [orientation]="'vertical'"
        [label]="'Radiobutton vertical con disabled (opción individual)'"
      >
        <neo-radio-button [value]="1">Opción 1</neo-radio-button>
        <neo-radio-button [value]="2">Opción 2</neo-radio-button>
        <neo-radio-button [value]="3" [disabled]="true"
          >Opción 3</neo-radio-button
        >
      </neo-radio-button-group>
    </div>
    <div class="col-3">
      <neo-radio-button-group
        [orientation]="'vertical'"
        [label]="'Radiobutton vertical con todos disabled (grupo completo)'"
        [disabled]="true"
      >
        <neo-radio-button [value]="1" [label]="'Opción 1'"></neo-radio-button>
        <neo-radio-button [value]="2">Opción 2</neo-radio-button>
        <neo-radio-button [value]="3">Opción 3</neo-radio-button>
      </neo-radio-button-group>
    </div>
  </div>
</neo-card>
<hr />
<neo-card>
  <neo-card-header>
    <div>Form fields</div>
    <small>
      El componente <b>neo-form-field</b> es un contenedor para los campos de
      formulario. Permite aplicar estilos y comportamientos comunes a todos los
      campos de formulario. Permite tener <b>label</b>, <b>hint</b> y
      <b>error</b> de forma ordenada.
    </small>
  </neo-card-header>
  <div class="row">
    <div class="col-3">
      <neo-form-field>
        <neo-input label="Form field"></neo-input>
      </neo-form-field>
    </div>
    <div class="col-3">
      <neo-form-field>
        <neo-input
          [required]="true"
          #inputFormField="ngModel"
          #inputCmp
          [(ngModel)]="inputFormFieldValue"
          label="Form field + error"
          (change)="inputChange($event)"
        ></neo-input>
        <neo-form-error
          [ngModelControl]="inputFormField"
          [id]="inputCmp.id"
        ></neo-form-error>
      </neo-form-field>
    </div>
    <div class="col-3">
      <neo-form-field>
        <neo-input #inputHint label="Form field + hint"></neo-input>
        {{ inputHint.id }}
        <neo-form-hint [id]="inputHint.id">
          Este es un hint de ejemplo para el input
        </neo-form-hint>
      </neo-form-field>
    </div>
    <div class="col-3">
      <neo-form-field>
        <neo-input
          [required]="true"
          #inputCmp2
          #inputFormField2="ngModel"
          [(ngModel)]="inputFormField2Value"
          label="Form field + hint + error"
        ></neo-input>
        <neo-form-error
          [ngModelControl]="inputFormField2"
          [id]="inputCmp2.id"
        ></neo-form-error>
        <neo-form-hint [id]="inputCmp2.id">
          Este es un hint de ejemplo para el input
        </neo-form-hint>
      </neo-form-field>
    </div>
  </div>
</neo-card>
<hr />
<neo-card>
  <neo-card-header>
    <div>Input files</div>
    <small
      >El componente <b>neo-input-file</b> permite seleccionar archivos desde el
      sistema de archivos del usuario. Soporta múltiples archivos y extensiones
      específicas.<br /><b>NOTA: </b>Abrir ventana de desarrollador para ver los
      valores</small
    >
  </neo-card-header>
  <div class="row">
    <div class="col-2">
      <label>Input file sencillo</label>
      <neo-input-file (filesSelected)="filsFromInput($event)"></neo-input-file>
    </div>
    <div class="col-2">
      <label>Input file múltiple</label>
      <neo-input-file
        [multiple]="true"
        (filesSelected)="filsFromInput($event)"
      ></neo-input-file>
    </div>
    <div class="col-2">
      <label>Input file múltiple (PDF y DOCX)</label>
      <neo-input-file
        [multiple]="true"
        [extensions]="['.pdf', '.docx']"
        (filesSelected)="filsFromInput($event)"
      ></neo-input-file>
    </div>
    <div class="col-2">
      <label>Input file (Transparente)</label>
      <neo-input-file
        [transparent]="true"
        (filesSelected)="filsFromInput($event)"
      ></neo-input-file>
    </div>
    <div class="col-2">
      <label>Input file (Color secundario)</label>
      <neo-input-file
        [color]="'secondary'"
        (filesSelected)="filsFromInput($event)"
      ></neo-input-file>
    </div>
    <div class="col-2">
      <label>Input file (Tamaño S - Deshabilitado)</label>
      <neo-input-file
        [inputSize]="'s'"
        [disabled]="true"
        (filesSelected)="filsFromInput($event)"
      ></neo-input-file>
    </div>
  </div>
</neo-card>
<hr />
<neo-card>
  <neo-card-header>
    <div>Tipos de modales y sidebar</div>
    <small>
      Los componentes <b>neo-modal</b> y <b>neo-sidebar</b> son utilizados para
      mostrar contenido adicional en una ventana modal o en una barra lateral.
      Estos componentes permiten mostrar información adicional sin salir de la
      página actual.
    </small>
  </neo-card-header>
  <div class="row">
    <div class="col-4">
      <label>Apertura de Sidebar con cambio de contenido en su interior</label>
      <neo-button (onClick)="openSidebar()">Abrir sidebar</neo-button>
    </div>
    <div class="col-4">
      <label>Ventana modal normal</label>
      <neo-button (onClick)="openModal()">Abrir modal</neo-button>
    </div>
    <div class="col-4">
      <label>Ventana modal con componente</label>
      <neo-button (onClick)="openModalComponent()"
        >Abrir modal con componente</neo-button
      >
    </div>
  </div>
</neo-card>
<hr />
<neo-card>
  <neo-card-header>
    <div>Tipos de spinners</div>
    <small>
      El componente <b>neo-spinner</b> es utilizado para mostrar el progreso de
      una tarea o acción en curso. Este componente es útil para indicar al
      usuario que una acción está en curso y que debe esperar. El spinner puede
      tener diferentes tamaños y estilos.
    </small>
  </neo-card-header>
  <div class="row">
    <div class="col-2">
      <label>Spinner por defecto (tamaño M, inline, sin label)</label>
      <neo-spinner></neo-spinner>
    </div>
    <div class="col-2">
      <label
        >Spinner con label y color personalizado, sin backdrop, y contenido
        entre medias color "#673ab7"</label
      >
      <div style="border: 1px solid #ccc; position: relative">
        <p>Contenido encima del spinner</p>
        <neo-spinner
          label="Cargando datos importantes..."
          spinnerColor="#673ab7"
          labelColor="#673ab7"
          position="inline"
        ></neo-spinner>
        <p>Más contenido debajo del spinner</p>
      </div>
    </div>
    <div class="col-2">
      <label
        >Spinner en posición absoluta color "darkgreen" con backdrop color
        "#e0f7facc"</label
      >
      <div
        style="
          width: 100%;
          height: 150px;
          border: 2px dashed blue;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #e0f7fa;
        "
      >
        <h3>Este es un contenedor con un spinner absoluto</h3>
        <p>El spinner se superpondrá a este contenido.</p>
        <neo-spinner
          label="Procesando..."
          spinnerColor="darkgreen"
          labelColor="darkgreen"
          position="absolute"
          backdropColor="#e0f7facc"
        ></neo-spinner>
      </div>
    </div>
    <div class="col-2">
      <label>Spinner con label corto color "#d32f2f"</label>
      <neo-spinner
        label="Guardando..."
        spinnerColor="#d32f2f"
        labelColor="#d32f2f"
      ></neo-spinner>
    </div>
    <div class="col-2">
      <label>Spinner con label con color original</label>
      <neo-spinner label="Guardando datos..."></neo-spinner>
    </div>
    <div class="col-2">
      <label>Spinner sin label</label>
      <neo-spinner></neo-spinner>
    </div>
  </div>
</neo-card>
<hr />
<neo-card>
  <neo-card-header>
    <div>Tipos de barras de progreso</div>
    <small>
      El componente <b>neo-progress-bar</b> es utilizado para mostrar el
      progreso de una tarea o acción en curso. Este componente es útil para
      indicar al usuario que una acción está en curso y que debe esperar. La
      barra de progreso puede tener diferentes tamaños, colores y estilos.
      También puede mostrar el porcentaje de progreso y dividirse en dos partes
      para mostrar dos valores diferentes.
    </small>
  </neo-card-header>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-3">
          <label>Barra de progreso normal</label>
          <neo-progress-bar [value]="75"></neo-progress-bar>
        </div>
        <div class="col-3">
          <label>Barra de progreso partido</label>
          <neo-progress-bar
            [value]="7"
            [maxValue]="10"
            valueFormat="fractional"
          ></neo-progress-bar>
        </div>
        <div class="col-3">
          <label>Barra de progreso sin texto</label>
          <neo-progress-bar
            [value]="7"
            [maxValue]="10"
            [valuePosition]="'hidden'"
          ></neo-progress-bar>
        </div>
        <div class="col-3">
          <label>Barra de progreso con color custom</label>
          <neo-progress-bar
            [value]="60"
            color="green"
            valuePosition="left"
          ></neo-progress-bar>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-6">
      <label>Barra de progreso (%) con valor fuera (arriba)</label>
      <neo-progress-bar [value]="25" valuePosition="top"></neo-progress-bar>
    </div>
    <div class="col-6">
      <label>Barra de progreso (X,Y) con valor fuera (arriba)</label>
      <neo-progress-bar
        [value]="7"
        [maxValue]="10"
        valuePosition="top"
        valueFormat="fractional"
      ></neo-progress-bar>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-2">
      <label>Barra de progreso XS</label>
      <neo-progress-bar
        [value]="75"
        size="xs"
        valuePosition="inside"
      ></neo-progress-bar>
    </div>
    <div class="col-2">
      <label>Barra de progreso S</label>
      <neo-progress-bar
        [value]="75"
        size="s"
        valuePosition="inside"
      ></neo-progress-bar>
    </div>
    <div class="col-2">
      <label>Barra de progreso XM</label>
      <neo-progress-bar
        [value]="75"
        size="xm"
        valuePosition="inside"
      ></neo-progress-bar>
    </div>
    <div class="col-2">
      <label>Barra de progreso M</label>
      <neo-progress-bar
        [value]="75"
        size="m"
        valuePosition="inside"
      ></neo-progress-bar>
    </div>
    <div class="col-2">
      <label>Barra de progreso L</label>
      <neo-progress-bar
        [value]="75"
        size="l"
        valuePosition="inside"
      ></neo-progress-bar>
    </div>
    <div class="col-2">
      <label>Barra de progreso XL</label>
      <neo-progress-bar
        [value]="75"
        size="xl"
        valuePosition="inside"
      ></neo-progress-bar>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <label>Barra de progreso indeterminada con color personalizado</label>
      <neo-progress-bar
        [indeterminate]="true"
        [size]="'s'"
        color="orange"
      ></neo-progress-bar>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-3">
      <label>Barra de progreso con label arriba y valor inside</label>
      <neo-progress-bar
        [value]="75"
        [label]="'Cargando datos...'"
        [labelPosition]="'top'"
      ></neo-progress-bar>
    </div>
    <div class="col-3">
      <label>Barra de progreso con label abajo y valor inside</label>
      <neo-progress-bar
        [value]="75"
        [label]="'Cargando datos...'"
        [labelPosition]="'bottom'"
      ></neo-progress-bar>
    </div>
    <div class="col-3">
      <label>Barra de progreso con label izquierda y value inside</label>
      <neo-progress-bar
        [value]="75"
        [label]="'Cargando datos...'"
        [labelPosition]="'left'"
      ></neo-progress-bar>
    </div>
    <div class="col-3">
      <label>Barra de progreso con label y value a la izquierda</label>
      <neo-progress-bar
        label="Instalando:"
        [value]="25"
        [maxValue]="50"
        valueFormat="fractional"
        labelPosition="left"
        [combineLabelValue]="true"
        inputSize="s"
      ></neo-progress-bar>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-3">
      <label>Barra de progreso tamaño "s" con label abajo y value arriba</label>
      <neo-progress-bar
        [value]="75"
        [size]="'s'"
        [valuePosition]="'top'"
        [label]="'Cargando datos...'"
        [labelPosition]="'bottom'"
      ></neo-progress-bar>
    </div>
    <div class="col-3">
      <label>Barra de progreso tamaño "xm" con label HTML (izquierda)</label>
      <neo-progress-bar
        [value]="75"
        [size]="'xm'"
        [valuePosition]="'inside'"
        label="<i class='ri-home-4-fill'></i>"
        [labelPosition]="'left'"
      ></neo-progress-bar>
    </div>
    <div class="col-3">
      <label>Barra de progreso tamaño "l" con label derecha</label>
      <neo-progress-bar
        [value]="75"
        [size]="'l'"
        [valuePosition]="'inside'"
        label="Cargando..."
        [labelPosition]="'right'"
      ></neo-progress-bar>
    </div>
    <div class="col-3">
      <label>Barra de progreso tamaño "xl" con label arriba</label>
      <neo-progress-bar
        [value]="75"
        [size]="'xl'"
        [valuePosition]="'inside'"
        label="Analizando datos..."
        [labelPosition]="'top'"
      ></neo-progress-bar>
    </div>
  </div>
</neo-card>
<hr />
<neo-card>
  <neo-card-header>
    <div>Misceláneo</div>
    <small>
      Este apartado contiene componentes misceláneos que no encajan en las
      categorías anteriores. Incluye menús contextuales, toggles de tema, etc...
    </small>
  </neo-card-header>
  <div class="row">
    <div class="col-12 col-md-12 col-lg-2 mb-2 mt-2">
      <label>Menú contextual</label>
      <neo-menu-context>
        <neo-item-menu-context>Test 1</neo-item-menu-context>
        <neo-item-menu-context>Test 2</neo-item-menu-context>
        <neo-item-menu-context [disabled]="true"
          >Test 3 (Deshabilitado)</neo-item-menu-context
        >
      </neo-menu-context>
    </div>
    <div class="col-12 col-md-12 col-lg-2 mb-2 mt-2">
      <label>Cambio de tema (claro / oscuro)</label>
      <neo-theme-toggle></neo-theme-toggle>
    </div>
  </div>
</neo-card>
<hr />
<div class="row">
  <div class="col-12 col-md-12 col-lg-6">
    <neo-card>
      <neo-card-header>
        <div>Tabla</div>
      </neo-card-header>
      AQUÍ IRÁ LA TABLA
    </neo-card>
  </div>
  <div class="col-12 col-md-12 col-lg-6">
    <neo-card>
      <neo-card-header>
        <div>Paginadores</div>
        <small>
          El componente <b>neo-paginator</b> es utilizado para paginar grandes
          conjuntos de datos. Permite navegar entre diferentes páginas de datos
          y controlar el número de elementos por página.
        </small>
      </neo-card-header>
      <label>Paginador con rango izquierda</label>
      <neo-paginator [total]="100" [position]="'left'"></neo-paginator>
      <br />
      <label>Paginador con rango derecha</label>
      <neo-paginator [total]="100"></neo-paginator>
      <br />
      <label>Paginador con rango derecha y total</label>
      <neo-paginator [total]="100" [showTotal]="true"></neo-paginator>
      <br />
      <label>Paginador completo</label>
      <neo-paginator
        [total]="10"
        [type]="'fullnumber'"
        [position]="'left'"
      ></neo-paginator>
      <br />
      <label>Paginador sin números</label>
      <neo-paginator
        [total]="10"
        [type]="'nonumber'"
        [position]="'left'"
      ></neo-paginator>
      <br />
      <label>Paginador divisor</label>
      <neo-paginator
        [total]="100"
        [type]="'dividenumber'"
        [position]="'left'"
      ></neo-paginator>
    </neo-card>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-6">
    <neo-card>
      <neo-card-header>
        <div>Tabs normales</div>
        <small>
          El componente <b>neo-tabs</b> permite crear pestañas para organizar el
          contenido en secciones. Cada pestaña puede contener diferentes tipos
          de contenido y se puede personalizar con títulos, iconos y HTML.
        </small>
      </neo-card-header>
      <neo-tabs>
        <neo-tabs-item title="Tab 1">
          <p>Contenido tab 1</p>
        </neo-tabs-item>
        <neo-tabs-item title="Tab 2">
          <p>Contenido tab 2</p>
        </neo-tabs-item>
        <neo-tabs-item title="Tab 3">
          <p>Contenido tab 3</p>
        </neo-tabs-item>
      </neo-tabs>
    </neo-card>
  </div>
  <div class="col-6">
    <neo-card>
      <neo-card-header>
        <div>Tab con iconos y html</div>
        <small>
          El componente <b>neo-tabs</b> permite crear pestañas con iconos y HTML
          personalizado. Cada pestaña puede contener diferentes tipos de
          contenido y se puede personalizar con títulos, iconos y HTML.
        </small>
      </neo-card-header>
      <neo-tabs>
        <neo-tabs-item>
          <div
            *neoTabsItemLabel
            style="display: flex; gap: 10px; align-items: center"
          >
            <i class="ri-calendar-event-line"></i>
            <span>Tab 1 HTML</span>
          </div>
          <p>Contenido tab 1</p>
        </neo-tabs-item>
        <neo-tabs-item title="Tab 2">
          <div
            *neoTabsItemLabel
            style="display: flex; gap: 10px; align-items: center"
          >
            <i class="ri-user-search-line"></i>
            <span>Tab 2HTML</span>
          </div>
          <p>Contenido tab 2</p>
        </neo-tabs-item>
      </neo-tabs>
    </neo-card>
  </div>
</div>
<hr />
<neo-card>
  <neo-card-header>
    <div>Calendarios</div>
    <small>
      El componente <b>neo-calendar</b> permite seleccionar fechas de un
      calendario. Soporta diferentes tipos de selección: normal, semana, rango y
      fechas deshabilitadas.
    </small>
  </neo-card-header>
  <div class="row">
    <div class="col-3">
      <label>Calendario normal</label>
      <small>Fecha: {{ (dateInfo1 | date: "YYYY/MM/dd") || "-" }}</small>
      <neo-calendar (dateSelected)="dateInfo1 = $event"></neo-calendar>
    </div>
    <div class="col-3">
      <label>Calendario semana</label>
      <small
        >Fecha: {{ (dateInfo2?.[0] | date: "YYYY/MM/dd") || "-" }} -
        {{
          (dateInfo2?.[dateInfo2?.length - 1] | date: "YYYY/MM/dd") || "-"
        }}</small
      >
      <neo-calendar
        [type]="'week'"
        (dateSelected)="dateInfo2 = $event"
      ></neo-calendar>
    </div>
    <div class="col-3">
      <label>Calendario rango</label>
      <small
        >Fecha: {{ (dateInfo3?.[0] | date: "YYYY/MM/dd") || "-" }} -
        {{
          (dateInfo3?.[dateInfo3?.length - 1] | date: "YYYY/MM/dd") || "-"
        }}</small
      >
      <neo-calendar
        [type]="'range'"
        (dateSelected)="dateInfo3 = $event"
      ></neo-calendar>
    </div>
    <div class="col-3">
      <label>Calendario con fechas deshabilitadas</label>
      <small
        >Fecha: {{ (dateInfo4?.[0] | date: "YYYY/MM/dd") || "-" }} -
        {{
          (dateInfo4?.[dateInfo4?.length - 1] | date: "YYYY/MM/dd") || "-"
        }}</small
      >
      <neo-calendar
        [type]="'range'"
        (dateSelected)="dateInfo4 = $event"
        [disabledDates]="disabledDates"
      ></neo-calendar>
    </div>
  </div>
</neo-card>
<hr />
<neo-card>
  <neo-card-header>
    <div>Diferentes datepicker</div>
    <small>
      El componente <b>neo-date-picker</b> permite seleccionar fechas de un
      calendario. Soporta diferentes tipos de selección: normal, semana, rango y
      fechas deshabilitadas. También se puede utilizar con formularios reactivos
      y ngModel para manejar la entrada de datos.
    </small>
  </neo-card-header>
  <div class="row gy-3">
    <div class="col-4">
      <neo-date-picker
        [showClear]="true"
        label="Date picker M con Calendar XM"
        [calendarSize]="'xm'"
      ></neo-date-picker>
    </div>

    <div class="col-4">
      <neo-date-picker
        label="Date picker requerido"
        [(ngModel)]="datePickerValue"
        [required]="true"
      ></neo-date-picker>
    </div>

    <div class="col-4">
      <neo-date-picker
        label="Date picker deshabilitado"
        [disabled]="true"
      ></neo-date-picker>
    </div>

    <div class="col-4">
      <neo-date-picker
        [type]="'range'"
        [(ngModel)]="datePickerRangeValue"
        [required]="true"
        label="Date picker de rango"
      ></neo-date-picker>
    </div>

    <div class="col-4">
      <neo-date-picker
        [type]="'week'"
        label="Date picker de semana"
        [required]="true"
      ></neo-date-picker>
    </div>

    <div class="col-4">
      <neo-date-picker
        label="Date de rango picker con fechas deshabilitadas y bloqueadas"
        [type]="'range'"
        [disabledDates]="disabledDates"
        [blockDisabledRanges]="true"
      ></neo-date-picker>
    </div>

    <div class="col-4">
      <form [formGroup]="testFormDate">
        <neo-date-picker
          formControlName="date"
          label="Date picker con ReactiveForm"
        ></neo-date-picker>
        @if (testFormDate.value.date !== "") {
          <pre>{{ testFormDate.value.date }}</pre>
        }
      </form>
    </div>

    <div class="col-4">
      <form [formGroup]="testFormDateRange">
        <neo-date-picker
          [type]="'range'"
          formControlName="dateRange"
          label="Date picker de rango con ReactiveForm"
        ></neo-date-picker>
        @if ((testFormDateRange.value.dateRange?.length ?? 0) > 0) {
          <pre>
          @for (date of testFormDateRange.value.dateRange; track date) {
            {{ date }}
          }
        </pre>
        }
      </form>
    </div>

    <div class="col-4">
      <form [formGroup]="testFormDateWeek">
        <neo-date-picker
          [type]="'week'"
          formControlName="dateWeek"
          label="Date picker de semana con ReactiveForm"
        ></neo-date-picker>
        @if ((testFormDateWeek.value.dateWeek?.length ?? 0) > 0) {
          <pre>
          @for (date of testFormDateWeek.value.dateWeek; track date) {
            {{ date }}
          }
        </pre>
        }
      </form>
    </div>
  </div>
</neo-card>
