@if (itemMenu.route) {
  <a
    class="item-menu"
    tabindex="0"
    (click)="activeItemMenu(itemMenu)"
    (keydown.enter)="activeItemMenu(itemMenu)"
    (keydown.space)="activeItemMenu(itemMenu)"
    [title]="itemMenu.label | translate"
    [class.item-menu--active]="itemMenu.active"
    #routerLink="routerLinkActive"
    [routerLink]="[itemMenu.route]"
    [routerLinkActiveOptions]="{ exact: true }"
    [routerLinkActive]="['active']"
    [attr.aria-selected]="itemMenu.active || routerLink.isActive"
    [attr.aria-label]="itemMenu.label | translate"
  >
    <div class="item-menu__wrapper">
      <div class="item-menu__wrapper__label">
        @if (itemMenu.icon) {
          <i
            class="item-menu__wrapper__label__icon"
            [ngClass]="itemMenu.icon"
          ></i>
        }
        <span class="item-menu__wrapper__label__text">{{
          itemMenu.label | translate
        }}</span>
      </div>
    </div>
  </a>
} @else {
  <div
    class="item-menu item-menu--has-children"
    tabindex="0"
    (click)="handleClick(itemMenu)"
    (keydown.enter)="handleClick(itemMenu)"
    (keydown.space)="handleClick(itemMenu)"
    [title]="itemMenu.label | translate"
    [class.item-menu--active]="itemMenu.expanded"
    [attr.aria-expanded]="itemMenu.expanded"
    [attr.aria-selected]="itemMenu.expanded"
    [attr.aria-label]="itemMenu.label | translate"
  >
    <div class="item-menu__wrapper">
      <div class="item-menu__wrapper__label">
        @if (itemMenu.icon) {
          <i
            class="item-menu__wrapper__label__icon"
            [ngClass]="itemMenu.icon"
          ></i>
        }
        <span class="item-menu__wrapper__label__text">{{
          itemMenu.label | translate
        }}</span>
      </div>
      @if (itemMenu.childrens && itemMenu.childrens.length > 0) {
        @if (itemMenu.expanded) {
          <i class="item-menu__wrapper__toggle ri-arrow-up-s-line"></i>
        } @else {
          <i class="item-menu__wrapper__toggle ri-arrow-down-s-line"></i>
        }
      }
    </div>
  </div>
  <div
    class="item-menu__childrens {{
      'item-menu__childrens--level_' + depthLevel
    }}"
    [class.item-menu__childrens--opened]="itemMenu.expanded"
    [attr.aria-expanded]="itemMenu.expanded"
  >
    @for (itemChildren of itemMenu.childrens; track itemChildren) {
      <neo-side-menu-item
        [itemMenu]="itemChildren"
        [depthLevel]="depthLevel + 1"
        [keepMultipleOpen]="keepMultipleOpen"
        (setActive)="activeItemMenu(itemMenu)"
      ></neo-side-menu-item>
    }
  </div>
}
