@import 'base';

:host {
  display: flex;
  flex-direction: column;
  height: auto;
}

.item-menu {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  cursor: pointer;
  padding: 10px 15px;
  margin: 2px 0;
  flex-wrap: nowrap;
  text-decoration: none;
  background-color: var(--bg-menu-color);

  &__childrens {
    height: 0;
    overflow: hidden;

    &--opened {
      height: auto;
      overflow: visible;
    }

    &--level_0 {
      padding-left: 10px;
    }

    &--level_1 {
      padding-left: 20px;
    }

    &--level_2 {
      padding-left: 30px;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;

    &__label {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: row;
      gap: 10px;

      &__icon {
        font-size: 1rem;

        &::before {
          color: var(--bg-menu-item-color);
        }
      }

      &__text {
        font-size: 0.8rem;
        font-weight: 600;
        color: var(--text-color);
      }
    }

    &__toggle {
      font-size: 1rem;

      &::before {
        color: var(--text-color);
      }
    }
  }

  &:hover,
  &:focus,
  &--active {
    background-color: var(--bg-menu-item-color) !important;

    .item-menu__wrapper__label__text {
      color: var(--menu-item-active-text-color);
    }

    .item-menu__wrapper__label__icon,
    .item-menu__wrapper__toggle {
      &::before {
        color: var(--menu-item-active-text-color);
      }
    }
  }
}
