@if (itemMenu.route) {
  <a
    class="item-menu"
    tabindex="0"
    (click)="activeItemMenu(itemMenu)"
    (keydown.enter)="activeItemMenu(itemMenu)"
    (keydown.space)="activeItemMenu(itemMenu)"
    [title]="itemMenu.label | translate"
    [class.item-menu--active]="itemMenu.active"
    #routerLink="routerLinkActive"
    [routerLink]="[itemMenu.route]"
    [routerLinkActiveOptions]="{ exact: true }"
    [routerLinkActive]="['active']"
    [attr.aria-selected]="itemMenu.active || routerLink.isActive"
    [attr.aria-label]="itemMenu.label | translate"
  >
    <span class="item-menu__label">{{ itemMenu.label | translate }}</span>
  </a>
} @else {
  <div
    class="item-menu"
    tabindex="0"
    (click)="handleClick(itemMenu)"
    (keydown.enter)="handleClick(itemMenu)"
    (keydown.space)="handleClick(itemMenu)"
    [title]="itemMenu.label | translate"
    [class.item-menu--active]="itemMenu.active"
    [attr.aria-expanded]="itemMenu.expanded"
    [attr.aria-selected]="itemMenu.active"
    [attr.aria-label]="itemMenu.label | translate"
  >
    <div class="item-menu__wrapper">
      <span class="item-menu__label">{{ itemMenu.label | translate }}</span>
      @if (itemMenu.childrens && itemMenu.childrens.length > 0) {
        <div class="item-menu__toggle">
          <i class="fa fa-angle-right"></i>
          @if (itemMenu.expanded) {
            <i class="ri-arrow-down-s-line"></i>
          } @else {
            <i class="ri-arrow-right-s-line"></i>
          }
        </div>
      }
    </div>
  </div>
  <div
    class="item-menu__childrens {{
      'item-menu__childrens--level_' + depthLevel
    }}"
    [class.item-menu__childrens--opened]="itemMenu.expanded"
    [attr.aria-expanded]="itemMenu.expanded"
  >
    @for (itemChildren of itemMenu.childrens; track itemChildren) {
      <neo-side-menu-item
        [itemMenu]="itemChildren"
        [depthLevel]="depthLevel + 1"
        [keepMultipleOpen]="keepMultipleOpen"
        (setActive)="activeItemMenu(itemMenu)"
      ></neo-side-menu-item>
    }
  </div>
}
