@import "config";
@import "mixins";

.neo-radio-button-group {
  &__items {
    display: flex;

    &.horizontal {
      @include flex-row-center-start();
      gap: $spacing-m;
    }

    &.vertical {
      @include flex-col-start-center();
      gap: $spacing-s;
    }
  }
}
