@import "theme-config";

html,
:host {
  font-family: var(--font-family-base);
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  line-height: 1.5;
  font-feature-settings: normal;
  -webkit-tap-highlight-color: transparent;
}

html {
  scrollbar-color: var(--bg-scroll-field-color) var(--bg-field-color);
  scrollbar-width: thin;
}

/* Para navegadores basados en WebKit (Chrome, Edge, Safari) */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Estilo del thumb del scrollbar para navegadores basados en WebKit (Chrome, Edge, Safari) */
*::-webkit-scrollbar-thumb {
  background-color: var(--bg-scroll-field-color);
  border-radius: 4px;
}

/* Estilo del track del scrollbar para navegadores basados en WebKit (Chrome, Edge, Safari) */
*::-webkit-scrollbar-track {
  background: var(--bg-field-color);
}

body {
  margin: 0;
  line-height: 1.5;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

::selection {
  background-color: var(--color-selection);
  color: var(--color-text);
}
