@import "theme-config";
@import "config";
@import "mixins";

label {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-semibold);
  color: var(--color-text);
  margin-bottom: var(--spacing-xxs);
  display: block;
  cursor: default;
  @include transition(color 0.2s ease-in-out);

  label:has(+ input:focus) o label:has(~ input:focus),
  &--focused {
    color: var(--color-accent);
  }
}

// Consideración adicional para campos requeridos
label abbr {
  color: var(--color-danger);
  font-weight: var(--font-weight-bold);
  margin-left: var(--spacing-xxs);
  text-decoration: none;
  cursor: default;
}

// Estilo para el icono creado con la directiva `ShowClearFieldDirective`
.neo-clear-field-button {
  cursor: default;

  @each $size-key, $input-size in $component-heights {
    &--#{$size-key} {
      width: var(--component-height-#{$size-key});
      height: var(--component-height-#{$size-key});
      @include component-icon-size($size-key);
      i {
        @include flex-center;
        &::before {
          color: var(--icon-field-color);
        }
      }
    }
  }

  &::before {
    color: var(--icon-field-color);
  }

  &:focus,
  &:active {
    @include outline-focus;
    border-radius: var(--border-radius-md);
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}
