@import "config";
@import "mixins";

label {
  font-family: $font-family-base;
  font-size: map-get($component-font-sizes, xm);
  font-weight: $font-weight-medium;
  color: var(--color-text);
  margin-bottom: $spacing-xxs;
  display: block;
  cursor: default;
  @include transition(color 0.2s ease-in-out);

  label:has(+ input:focus) o label:has(~ input:focus),
  &--focused {
    color: var(--color-accent);
  }
}

// Consideración adicional para campos requeridos
label abbr {
  color: var(--color-danger);
  text-decoration: none;
  font-weight: $font-weight-bold;
  cursor: default;
  margin-left: $spacing-xxs;
}

// Estilo para el icono creado con la directiva `ShowClearFieldDirective`
.neo-clear-field-button {
  cursor: default;

  &--xs {
    @include component-icon-size(xs);
  }
  &--s {
    @include component-icon-size(s);
  }
  &--xm {
    @include component-icon-size(xm);
  }
  &--m {
    @include component-icon-size(m);
  }
  &--l {
    @include component-icon-size(l);
  }
  &--xl {
    @include component-icon-size(xl);
  }

  &::before {
    color: var(--icon-field-color);
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}
