@import "mixins";
@import "config";
@import "colors";

html,
body,
button,
input,
select,
textarea,
span {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-m);
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-base);
  margin-top: 0;
  margin-bottom: var(--spacing-m);
  line-height: 1.2;
  color: var(--color-gray-900);
}

h1 {
  @include heading(h1);
}

h2 {
  @include heading(h2);
}

h3 {
  @include heading(h3);
}

h4 {
  @include heading(h4);
}

h5 {
  @include heading(h5);
}

h6 {
  @include heading(h6);
}

small {
  font-family: var(--font-family-base);
  font-size: var(--font-size-s); // 12px
  color: var(--color-gray-600);
}

p {
  font-family: var(--font-family-base);
  margin-top: 0;
  margin-bottom: var(--spacing-s);
}

a {
  font-family: var(--font-family-base);
  color: var(--color-primary);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
