<!-- NgTemplate de la opción del dropdown -->
<ng-template
  #optionButtonTemplate
  let-optionData="option"
  let-groupLabelId="groupLabelId"
>
  <button
    focusableItem
    #option="focusableItem"
    role="option"
    class="
      neo-dropdown__panel__options__option
      neo-dropdown__panel__options__option--{{ _inputSize() }}
    "
    [class.neo-dropdown__panel__options__option--selected]="
      isOptionSelected(optionData)
    "
    [class.neo-dropdown__panel__options__option--disabled]="optionData.disabled"
    [class.neo-dropdown__panel__options__option--highlighted]="
      isOptionHighlighted(optionData)
    "
    [attr.tabindex]="-1"
    (click)="selectOption(optionData)"
    [disabled]="optionData.disabled"
    [attr.role]="'option'"
    [attr.id]="optionData.id"
    [attr.aria-selected]="isOptionSelected(optionData)"
    [attr.aria-disabled]="optionData.disabled"
    [attr.aria-label]="optionData.label"
    [attr.aria-labelledby]="groupLabelId ? groupLabelId : null"
    [label]="optionData.label"
  >
    <span class="neo-dropdown__panel__options__option__label">
      @if (!hideTick() && isOptionSelected(optionData)) {
        <i class="ri-check-fill"></i>
      }
      {{ optionData.label }}
    </span>
  </button>
</ng-template>

<!-- NgTemplate cuando no hay resultados -->
<ng-template #noResultsTemplate>
  <div
    class="
      neo-dropdown__panel__options__no-results
      neo-dropdown__panel__options__no-results--{{ _inputSize() }}
    "
  >
    {{ _translations.noResults }}
  </div>
</ng-template>

@if (label()) {
  <label
    [for]="_id()"
    [attr.id]="_labelId()"
    class="neo-dropdown__label"
    (click)="openDropdown($event)"
  >
    {{ label() }}
  </label>
}

<div
  class="neo-dropdown"
  [class.neo-dropdown--open]="isOpen()"
  [class.neo-dropdown--disabled]="_disabled()"
>
  <div
    #dropdownInput
    class="neo-dropdown__field neo-dropdown__field--{{ _inputSize() }}"
    [class.neo-select__field--clear]="!loading() && showClear()"
    [class.neo-select__field--empty]="filteredOptions().length === 0"
    [class.neo-select__field--multiple]="multiple()"
    [class.neo-select__field--has-error]="
      ngControl?.control?.errors &&
      (ngControl?.control?.dirty || ngControl?.control?.touched)
    "
    (blur)="onBlur()"
    (click)="toggleDropdown($event)"
    (keydown.enter)="toggleDropdown($event)"
    (keydown.space)="toggleDropdown($event)"
    (keydown.arrowDown)="openDropdown($event)"
    (keydown.arrowUp)="openDropdown($event)"
    [attr.title]="getTitle() || _translations.selectOption"
    [attr.aria-controls]="isOpen() ? _panelId() : null"
    [attr.aria-labelledby]="_labelId()"
    [attr.id]="_id()"
    [attr.tabindex]="_disabled() ? -1 : 0"
    [attr.aria-label]="getTitle() || _translations.selectOption"
    [attr.aria-haspopup]="'listbox'"
    [attr.aria-expanded]="isOpen()"
    [attr.aria-labelledby]="label() ? _labelId() : _id()"
    [attr.role]="'combobox'"
    #dropdown="cdkOverlayOrigin"
    [showClear]="!loading() && showClear()"
    (clear)="clearSelection()"
    cdkOverlayOrigin
  >
    @if (loading()) {
      <neo-spinner></neo-spinner>
    }
    <span class="neo-dropdown__field__value">{{ displayLabel }}</span>
    <span
      class="
        neo-dropdown__field__icon
        neo-dropdown__field__icon--{{ _inputSize() }}
      "
      [class.neo-dropdown__field__icon--open]="isOpen()"
    >
      <i class="ri-arrow-down-s-line"></i>
    </span>
  </div>

  <ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="dropdown"
    [cdkConnectedOverlayOpen]="isOpen()"
    [cdkConnectedOverlayPositions]="overlayPositions"
    [cdkConnectedOverlayScrollStrategy]="scrollStrategy"
    [cdkConnectedOverlayWidth]="_dropdownWidth()"
    (attach)="onOverlayAttached()"
    (detach)="onOverlayDetached()"
  >
    <div
      class="
        neo-dropdown__panel
        neo-dropdown__panel--{{ _inputSize() }}
      "
      #dropdownPanel
      [@fadeInOutScale]="isOpen() ? '*' : 'void'"
      [attr.id]="_panelId()"
      [attr.aria-labelledby]="_labelId()"
      [cdkTrapFocus]="true"
      [cdkTrapFocusAutoCapture]="true"
      (keydown)="onKeydown($event)"
    >
      @if (searchable()) {
        <div class="neo-dropdown__panel__search">
          <neo-input
            #inputSearch
            type="text"
            [placeholder]="_translations.search + '...'"
            [(ngModel)]="searchTerm"
            (ngModelChange)="onSearchTerm()"
            class="neo-dropdown__panel__search__input"
            [attr.aria-label]="_translations.search"
            [inputSize]="_inputSize()"
            [id]="'search_' + _id()"
            [autocomplete]="'off'"
            [autocapitalize]="'off'"
            [attr.aria-autocomplete]="'list'"
            [suffixIcon]="'ri-search-line'"
            [suffixInside]="true"
          ></neo-input>
        </div>
      }

      @if (shouldUseVirtualScroll) {
        @if (filteredOptions().length > 0) {
          <cdk-virtual-scroll-viewport
            [itemSize]="getItemSize()"
            [minBufferPx]="200"
            [maxBufferPx]="400"
            class="neo-dropdown__panel__options-viewport"
            [style.height.px]="5 * getItemSize()"
            tabindex="0"
            role="listbox"
            [attr.aria-labelledby]="label() ? _labelId() : _id()"
            [attr.id]="_optionsId()"
          >
            @for (item of filteredOptions(); track $index) {
              @if (isDropdownGroup(item)) {
                <div
                  class="
                    neo-dropdown__panel__options__group-label
                    neo-dropdown__panel__options__group-label--{{
                    _inputSize()
                  }}
                  "
                  [attr.id]="item.label + '-group-label'"
                >
                  {{ item.label }}
                </div>
                @for (option of item.options; track option.value) {
                  <ng-container
                    *ngTemplateOutlet="
                      optionButtonTemplate;
                      context: {
                        option: option,
                        groupLabelId: item.label + '-group-label'
                      }
                    "
                  ></ng-container>
                }
              } @else {
                <ng-container
                  *ngTemplateOutlet="
                    optionButtonTemplate;
                    context: {
                      option: item
                    }
                  "
                ></ng-container>
              }
            }
          </cdk-virtual-scroll-viewport>
        } @else {
          <ng-container *ngTemplateOutlet="noResultsTemplate"></ng-container>
        }
      } @else {
        <div
          class="neo-dropdown__panel__options"
          tabindex="0"
          role="listbox"
          [style.min-height.px]="getItemSize()"
          [style.max-height.px]="5 * getItemSize()"
          [attr.aria-labelledby]="label() ? _labelId() : _id()"
          [attr.id]="_optionsId()"
        >
          @for (item of filteredOptions(); track $index) {
            @if (isDropdownGroup(item)) {
              <div
                class="
                  neo-dropdown__panel__options__group-label
                  neo-dropdown__panel__options__group-label--{{ _inputSize() }}
                "
                [class.neo-dropdown__panel__options__group-label--disabled]="
                  item.disabled
                "
                [attr.id]="item.id"
              >
                {{ item.label }}
              </div>
              @for (option of item.options; track option.value) {
                <ng-container
                  *ngTemplateOutlet="
                    optionButtonTemplate;
                    context: {
                      option: option,
                      groupLabelId: option?.idGroup ?? null
                    }
                  "
                ></ng-container>
              }
            } @else {
              <ng-container
                *ngTemplateOutlet="
                  optionButtonTemplate;
                  context: { option: item }
                "
              ></ng-container>
            }
          } @empty {
            <ng-container *ngTemplateOutlet="noResultsTemplate"></ng-container>
          }
        </div>
      }
    </div>
  </ng-template>
</div>
