@import "config";
@import "theme";
@import "theme-config";
@import "mixins";

:host {
  display: block;
  width: 100%;
}

.neo-dropdown {
  position: relative;

  &__field {
    // Tamaño dinámico para el input según el tamaño del componente
    @each $size-key, $input-size in $component-heights {
      &--#{$size-key} {
        @include component-size($size-key);
        &.neo-select__field:not(&--clear) {
          padding-right: $input-size;
        }
        &.neo-select__field--clear {
          padding-right: $input-size * 2 !important;
        }
        .neo-clear-field-button {
          right: $input-size !important;
        }
      }
    }

    @include flex-row-center;
    @include ellipsis-text;
    justify-content: space-between;
    border-radius: var(--border-radius-md);
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    gap: var(--spacing-xs);
    background-color: var(--bg-field-color);
    border: var(--border-width-base) solid var(--border-field-color);
    box-shadow: var(--box-shadow-component);

    &:focus:not(&--disabled),
    &:active:not(&--disabled) {
      @include outline-focus;
    }

    &__value {
      flex-grow: 1;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__icon {
      position: absolute;
      right: 0;
      top: 0;
      cursor: pointer;
      @include flex-center;
      @include transition(
        transform var(--transition-duration-normal)
          var(--transition-timing-function-ease)
      );

      @each $size-key, $icon-size in $component-heights {
        &--#{$size-key} {
          @include component-icon-size($size-key);
        }
      }

      &::before {
        color: var(--icon-field-color);
      }

      &--open {
        transform: rotate(180deg);
      }
    }

    &--has-error {
      @include field-error;

      &:not(&--disabled) {
        &:focus,
        &:active,
        &:hover {
          @include field-error;
        }

        &:focus,
        &:active {
          @include outline-field-error;
        }
      }
    }

    &[disabled],
    &:disabled,
    &--disabled {
      @include disabled;
    }

    &__value {
      display: block;
      width: 100%;
      line-height: normal;
      @include ellipsis-text;
    }

    &:hover:not(&--disabled) {
      border-color: var(--hover-border-field-color);
    }

    &:hover:not(&--disabled) ~ .neo-select__field__arrow-dropdown::before {
      color: var(--hover-border-field-color);
    }
  }

  &__panel {
    @include flex-col-center;
    border: calc(var(--border-width-base) / 2) solid var(--border-field-color);
    background-color: var(--bg-field-color);
    border-radius: var(--border-radius-md);
    padding: var(--spacing-xs);
    box-shadow: var(--box-shadow-m);

    &__search {
      padding-bottom: var(--spacing-xs);
      width: 100%;
      &__input {
        width: 100%;
      }
    }

    &__options-viewport,
    &__options {
      width: 100%;
      border-radius: var(--border-radius-md);

      &:focus:not(&--disabled),
      &:active:not(&--disabled) {
        outline: none;
      }
    }

    &__options-viewport .cdk-virtual-scroll-content-wrapper,
    &__options {
      display: flex;
      flex-direction: column;
      padding: var(--border-width-xs);
      gap: var(--spacing-xxs);
    }

    &__options {
      overflow-y: auto;
      overflow-x: hidden;

      &__group-label {
        @include flex-row-center;
        // Tamaño dinámico para el input según el tamaño del componente
        @each $size-key, $input-size in $component-heights {
          &--#{$size-key} {
            @include component-size($size-key);
          }
        }
        padding: 0 !important;
        font-weight: var(--font-weight-semibold);

        &--disabled {
          filter: opacity(0.3);
          cursor: default;
        }
      }

      &__option {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: start;
        cursor: pointer;
        position: relative;
        width: 100%;
        border: none;
        background-color: var(--bg-field-color);
        color: var(--color-text);
        border-radius: var(--border-radius-md);

        &--disabled {
          filter: opacity(0.3);
          cursor: default;
        }

        // Tamaño dinámico para el input según el tamaño del componente
        @each $size-key, $input-size in $component-heights {
          &--#{$size-key} {
            @include component-size($size-key);
          }
        }

        &:focus:not(&--disabled),
        &:active:not(&--disabled),
        &--highlighted:not(&--disabled) {
          @include outline-focus;
        }

        &:hover:not(&--disabled):not(&--selected) {
          background-color: var(--color-gray-200);
        }

        &--selected {
          color: var(--color-white);
          background-color: var(--color-accent);
          font-weight: var(--font-weight-semibold);
        }

        &__label {
          font-weight: var(--font-weight-medium);
          text-align: left;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 0.25rem;
        }
      }

      &__no-results {
        display: flex;
        align-items: center;
        justify-content: center;
        // Tamaño dinámico para el input según el tamaño del componente
        @each $size-key, $input-size in $component-heights {
          &--#{$size-key} {
            @include component-size($size-key);
          }
        }
      }
    }
  }
}
