@import "./base";
@import "./typography";
@import "./animations";
@import "./toastr";
@import "./scrollbars";
@import "./tables";
@import "./modal";
@import "./inputs";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.root-content {
  background-color: var(--background-color);
}

.main-header {
  background-color: var(--background-color);
}
