@-webkit-keyframes progress {
    0% {
        opacity: 0;
        transform: rotate(0deg)
    }
    100% {
        opacity: 1;
        transform: rotate(deg)
    }
}

@-moz-keyframes progress {
    0% {
        opacity: 0;
        transform: rotate(0deg)
    }
    100% {
        opacity: 1;
        transform: rotate(deg)
    }
}

@-ms-keyframes progress {
    0% {
        opacity: 0;
        transform: rotate(0deg)
    }
    100% {
        opacity: 1;
        transform: rotate(deg)
    }
}

@keyframes progress {
    0% {
        opacity: 0;
        transform: rotate(0deg)
    }
    100% {
        opacity: 1;
        transform: rotate(deg)
    }
}