@import './../setting/typography';

/* COMPONENTE: MODAL */
.mat-mdc-dialog-container {
  .mdc-dialog {
    &__surface {
      background-color: var(--background-color) !important;
      color: var(--text-color) !important;
    }
  }
}

.modal-box {
  &__body {
    color: var(--text-color) !important;
  }
}
