@import './../setting/typography';

/* TABLA */
.neo-table {
  background-color: var(--background-color) !important;

  &.resizing {
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: col-resize;
  }

  .mat-mdc-header-row,
  .mat-mdc-row {
    height: 45px;
    font-size: 0.80rem !important;
    font-weight: 500 !important;
    font-family: var(--font-family) !important;
    ;

    &.odd {
      .mat-mdc-cell {
        background-color: var(--bg-even-row-table-color) !important;
      }
    }

    &.even {
      .mat-mdc-cell {
        background-color: var(--bg-odd-row-table-color) !important;
      }
    }

    .mat-mdc-cell:first-of-type,
    .mat-mdc-header-cell:first-of-type,
    .mat-mdc-footer-cell:first-of-type {
      padding: 0 16px 0 16px;
    }

    .mat-mdc-cell,
    .mat-mdc-header-cell {
      color: var(--text-color);
      border: none !important;
      min-width: 200px;
      max-width: 200px;
    }

    .mat-mdc-cell {
      border-top: 5px solid var(--background-color) !important;
      border-left: 5px solid var(--background-color) !important;
      border-right: 0 !important;
      border-bottom: 0 !important;

      &:first-of-type {
        border-left: 0px !important;
      }

      span {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .mat-mdc-header-cell {
      font-size: 0.85rem !important;
      font-family: var(--font-family) !important;
      border-color: var(--bg-header-table-color) !important;
      background-color: var(--bg-header-table-color) !important;
      font-weight: 700 !important;
      position: relative;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      i::before {
        color: var(--text-color);
      }

      &:not(:first-of-type) {
        border-left: 5px solid var(--bg-header-table-color) !important;
      }

      &.mat-sort-header {
        cursor: pointer !important;
      }

      .resize-holder {
        cursor: col-resize;
        width: 5px;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;

        &:hover,
        &:focus,
        &:active {
          background-color: var(--bg--header-resize-column-color);
          border-color: var(--bg--header-resize-column-color);
        }
      }

      &[aria-sort='ascending'],
      &[aria-sort='descending'] {
        background-color: var(--bg--header-sorted-table-color) !important;
      }
    }
  }

  .mat-mdc-header-row {
    background-color: var(--bg-header-table-color) !important;

    .mat-sort-header-arrow {
      color: var(--text-color) !important;
    }
  }
}

/* TABLA RESPONSIVA CON SCROLL INFERIOR */
.neo-table-responsive {
  overflow-x: scroll;
}
