@import './../setting/typography';

// CAMBIOS TOASTR
.toast-container {

  .ngx-toastr {

    padding: 15px !important;
    background-image: none !important;
    font-family: var(--font-family) !important;
    box-shadow: var(--shadow-box) !important;
    border-radius: 0.25rem !important;
    opacity: 0.9 !important;

    .toast-title {
      font-size: 14px !important;
      font-weight: 700 !important;
      letter-spacing: 0.3px !important;
      margin-bottom: 5px;
    }

    .toast-message {
      font-size: 12px !important;
      font-weight: 500 !important;
      letter-spacing: 0.3px !important;
    }
  }
}
