@if (label && showHeader) {
  <label
    class="neo-checkbox__title"
    [attr.for]="_id()"
    [attr.id]="_labelId()"
    [title]="label"
  >
    {{ label }}
  </label>
}
<label
  class="neo-checkbox neo-checkbox--{{ inputSize }}"
  [class.neo-checkbox--disabled]="disabled"
  [class.neo-checkbox--checked]="checked"
  [class.neo-checkbox--indeterminate]="indeterminate"
  [attr.title]="_title()"
>
  <input
    type="checkbox"
    [checked]="checked"
    [disabled]="disabled"
    [indeterminate]="indeterminate"
    [attr.id]="_id()"
    [attr.aria-labelledby]="_labelId()"
    [attr.aria-disabled]="disabled"
    (change)="toggleChecked()"
    class="neo-checkbox__input"
  />
  <span
    class="neo-checkbox__mark neo-checkbox__mark--{{ inputSize }}"
    [class.neo-checkbox__mark--disabled]="disabled"
  ></span>
  <div
    class="neo-checkbox__label neo-checkbox__label--{{ inputSize }}"
    [class.neo-checkbox__label--labeled]="
      label !== undefined && label !== null && label !== ''
    "
    #contentWrapper
  >
    <ng-content></ng-content>
    @if (!hasProjectedContent) {
      {{ label || "" }}
    }
  </div>
</label>
