<div
  class="neo-input-password"
  [class.neo-input-password--disabled]="_disabled()"
>
  @if (label) {
    <label
      class="neo-input-password__label"
      [for]="_id()"
      [class.neo-input-password__label--required]="required"
    >
      <span [innerHtml]="label"></span>
    </label>
  }
  <div class="neo-input-password__wrapper">
    <input
      #inputPassword="ngModel"
      class="neo-input-password__wrapper__field size-{{ inputSize }}"
      [class.neo-input-password__wrapper__field--has-error]="
        hasErrors() ||
        (inputPassword?.errors &&
          (inputPassword?.dirty || inputPassword?.touched)) ||
        false
      "
      type="{{ show() ? 'text' : 'password' }}"
      (input)="onInput(inputPassword.value)"
      (blur)="onBlur()"
      [(ngModel)]="value"
      [attr.id]="_id()"
      [attr.autofocus]="autofocus"
      [attr.aria-disabled]="_disabled()"
      [attr.aria-readonly]="readonly"
      [attr.aria-label]="label || placeholder || ''"
      [attr.aria-labelledby]="_id()"
      [attr.aria-describedby]="label || placeholder || ''"
      [readonly]="readonly"
      [disabled]="_disabled()"
      [attr.required]="required"
      [attr.aria-required]="required"
      [attr.placeholder]="placeholder"
      [attr.size]="size"
      [attr.minlength]="minlength"
      [attr.maxlength]="maxlength"
      autocomplete="new-password"
      [title]="label"
    />
    @if (!_disabled()) {
      <div
        class="neo-input-password__wrapper__icon-show"
        [title]="
          (show() ? 'app.hide_password' : 'app.show_password') | translate
        "
        (click)="togglePassword($event)"
      >
        <i
          [ngClass]="{ 'ri-eye-off-fill': show(), 'ri-eye-fill': !show() }"
        ></i>
      </div>
    }
  </div>
</div>
