<div class="neo-input-password">
  @if (label) {
    <label
      class="neo-input-password__label"
      [for]="_id()"
      [attr.id]="_labelId()"
    >
      <span [innerHtml]="label"></span>
      @if (required) {
        <abbr aria-hidden="true">*</abbr>
      }
    </label>
  }
  <div
    class="neo-input-password__wrapper neo-input-password__wrapper--{{
      inputSize
    }}"
    [class.neo-input-password__wrapper--icon-inside]="!hideIcon && iconInside"
    [class.neo-input-password__wrapper--focused]="focused"
    [class.neo-input-password__wrapper--bg-icon]="
      !hideIcon && bgIcon && !iconInside
    "
  >
    <input
      #pwInput="ngModel"
      class="neo-input-password__wrapper__field"
      [class.neo-input-password__wrapper__field--has-error]="
        pwInput?.errors && (pwInput?.dirty || pwInput?.touched)
      "
      [class.neo-input__wrapper__field--icon]="!hideIcon"
      type="{{ show() ? 'text' : 'password' }}"
      (input)="onInput(pwInput.value)"
      (blur)="onBlur(); focused = false"
      (focus)="focused = true"
      [(ngModel)]="value"
      [attr.id]="_id()"
      [attr.title]="label"
      [attr.autofocus]="autofocus"
      [attr.aria-disabled]="_disabled()"
      [attr.aria-readonly]="readonly"
      [attr.aria-labelledby]="_labelId()"
      [attr.aria-owns]="_labelId()"
      [attr.aria-describedby]="ariaDescribedBy || ariaDescribedByCustom"
      [attr.aria-invalid]="
        pwInput?.errors && (pwInput?.dirty || pwInput?.touched)
      "
      [readonly]="readonly"
      [disabled]="_disabled()"
      [attr.required]="required"
      [attr.aria-required]="required"
      [attr.placeholder]="placeholder"
      [attr.size]="size"
      [attr.minlength]="minlength"
      [attr.maxlength]="maxlength"
      autocomplete="off"
    />
    @if (!hideIcon) {
      <button
        type="button"
        [tabindex]="!_disabled() ? 0 : -1"
        [disabled]="_disabled()"
        class="neo-input-password_wrapper__icon"
        [class.neo-input-password_wrapper__icon--bg]="bgIcon && !iconInside"
        [class.neo-input-password_wrapper__icon--inside]="iconInside"
        [attr.title]="
          show() ? _translations.hidePassword : _translations.showPassword
        "
        [attr.aria-label]="
          show() ? _translations.hidePassword : _translations.showPassword
        "
        (click)="togglePassword($event)"
        (keydown.enter)="togglePassword($event)"
        (keydown.space)="togglePassword($event)"
      >
        <i
          [ngClass]="{ 'ri-eye-off-fill': show(), 'ri-eye-fill': !show() }"
        ></i>
      </button>
    }
  </div>
</div>
