@import "config";
@import "theme";
@import "theme-config";
@import "mixins";

.neo-input-password__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius-md);
  box-sizing: border-box;
  background-color: var(--bg-field-color);
  box-shadow: var(--box-shadow-component);
  border: var(--border-width-base) solid var(--border-field-color);
  overflow: hidden;

  &__field-container {
    width: 100%;
    flex-direction: row;
    position: relative;
    justify-content: flex-end;
    flex: 1;
    display: flex;
    align-items: center;
  }

  &--focused:not(&--disabled),
  &:hover:not(&--disabled) {
    border-color: var(--hover-border-field-color);
  }

  &--focused:not(&--disabled) {
    @include outline-focus;
  }

  &--disabled {
    @include disabled;
  }

  &--has-error {
    @include field-error;
    &:hover:not(&--disabled) {
      @include field-error;
    }
    &.neo-input-password__wrapper--focused:not(
        &.neo-input-password__wrapper--disabled
      ) {
      @include field-error;
      @include outline-field-error;
    }
  }

  @each $size-key, $input-size in $component-heights {
    &--#{$size-key} {
      height: $input-size;
      min-height: $input-size;

      .neo-input-password__wrapper__field {
        font-size: var(--font-size-#{$size-key});
        padding: var(--component-padding-#{$size-key});
      }

      .neo-input-password_wrapper__icon {
        width: var(--component-height-#{$size-key});
        height: var(--component-height-#{$size-key});
        font-size: var(--font-size-#{$size-key});
      }
    }
  }

  &--icon-inside {
    .neo-input-password__wrapper__field {
      padding-right: 0;
    }
  }

  .neo-input-password__wrapper__field {
    border: none;
    background: transparent;
    outline: none;
    width: 100%;
    height: 100%;
    flex: 1;
    border-radius: 0;

    &:focus,
    &:active {
      outline: none;
    }

    &--icon {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:-webkit-autofill {
      box-shadow: 0 0 0 1000px var(--bg-field-color) inset !important;
      -webkit-text-fill-color: var(--color-text) !important;
      transition: background-color 9999s ease-in-out 0s;
    }
  }

  .neo-input-password_wrapper__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--field-prefix-color);
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:focus,
    &:active {
      @include outline-focus;
    }

    &--bg {
      background-color: var(--border-field-color);
    }

    &.neo-input-password_wrapper__icon {
      border-top-right-radius: var(--border-radius-md);
      border-bottom-right-radius: var(--border-radius-md);
      border-left: var(--border-width-base) solid var(--border-field-color);
      &--inside {
        border: none;
      }
    }
  }
}
