<div
  class="neo-input-password"
  [class.neo-input-password--disabled]="_disabled()"
>
  @if (label) {
    <label
      class="neo-input-password__label"
      [for]="_id()"
      [attr.id]="_labelId()"
    >
      <span [innerHtml]="label"></span>
      @if (required) {
        <abbr aria-hidden="true">*</abbr>
      }
    </label>
  }
  <div class="neo-input-password__wrapper">
    <input
      #pwInput="ngModel"
      class="
        neo-input-password__wrapper__field 
        neo-input-password__wrapper__field--{{ inputSize }}
      "
      [class.neo-input-password__wrapper__field--has-error]="
        hasErrors() || (pwInput?.errors && (pwInput?.dirty || pwInput?.touched))
      "
      type="{{ show() ? 'text' : 'password' }}"
      (input)="onInput(pwInput.value)"
      (blur)="onBlur()"
      [(ngModel)]="value"
      [attr.id]="_id()"
      [attr.autofocus]="autofocus"
      [attr.aria-disabled]="_disabled()"
      [attr.aria-readonly]="readonly"
      [attr.aria-labelledby]="_labelId()"
      [attr.aria-owns]="_labelId()"
      [attr.aria-describedby]="ariaDescribedBy || ariaDescribedByCustom"
      [readonly]="readonly"
      [disabled]="_disabled()"
      [attr.required]="required"
      [attr.aria-required]="required"
      [attr.placeholder]="placeholder"
      [attr.size]="size"
      [attr.minlength]="minlength"
      [attr.maxlength]="maxlength"
      autocomplete="new-password"
      [title]="label"
    />
    @if (!_disabled()) {
      <i
        [ngClass]="{ 'ri-eye-off-fill': show(), 'ri-eye-fill': !show() }"
        class="
          neo-input-password__wrapper__icon
          neo-input-password__wrapper__icon--{{ inputSize }}
        "
        [title]="
          (show() ? 'app.hide_password' : 'app.show_password') | translate
        "
        (click)="togglePassword($event)"
      ></i>
    }
  </div>
</div>
