<div class="main-content">
  <header class="main-header navbar">
    <div class="main-header__left">
      <neo-button
        id="nvar_menu"
        class="main-header__left__menu"
        mode="icon"
        [color]="'secondary'"
        [transparent]="true"
        (onClick)="toggleMenu()"
        [size]="'m'"
        [title]="'MENU.OPEN_CLOSE' | translate"
      >
        @if (isMenuOpened()) {
          <i class="ri-menu-fold-line"></i>
        } @else {
          <i class="ri-menu-line"></i>
        }
      </neo-button>
      <div class="main-header__left__logo">
        <neo-logo [height]="'40px'"></neo-logo>
      </div>
    </div>
    <div class="main-header__actions">
      <neo-theme-toggle size="m" color="secondary"></neo-theme-toggle>
      <neo-fullscreen-toggle size="m" color="secondary"></neo-fullscreen-toggle>
      <!-- <neo-button
        mode="icon"
        size="xm"
        color="secondary"
        (click)="logout()"
        [title]="'LOGIN.LOGOUT' | translate"
      >
        <i class="ri-logout-circle-r-line"></i>
      </neo-button> -->
    </div>
  </header>
  <neo-side-menu></neo-side-menu>
  <main
    class="content-wrapper"
    [ngClass]="{
      'menu-opened': isMenuOpened()
    }"
    cdkScrollable
  >
    <router-outlet></router-outlet>
  </main>
  <neo-sidebar-panel></neo-sidebar-panel>
</div>
