.cdk-overlay-container {
  z-index: 100062 !important;
}

.cdk-overlay-panel,
.cdk-dialog-container {
  background-color: transparent !important;
}

.cdk-overlay-pane {
  border-radius: 5px !important;
}
