<div class="breadcrumb">
  <a
    class="breadcrumb__item"
    tabindex="0"
    #routerLink="routerLinkActive"
    [title]="'app.home' | translate"
    [routerLink]="['/']"
    [routerLinkActiveOptions]="{ exact: true }"
    [attr.aria-current]="routerLink.isActive ? 'page' : null"
    routerLinkActive="breadcrumb__item--active"
  >
    {{ "app.home" | translate }}
  </a>
  @for (breadcrumb of breadcrumbs; track breadcrumb; let isLast = $last) {
    <i class="breadcrumb__separator ri-arrow-right-s-line"></i>
    <a
      class="breadcrumb__item"
      tabindex="0"
      #routerLink="routerLinkActive"
      [title]="breadcrumb.label | translate"
      [routerLink]="[breadcrumb.url]"
      [routerLinkActiveOptions]="{ exact: true }"
      [attr.aria-current]="routerLink.isActive ? 'page' : null"
      routerLinkActive="breadcrumb__item--active"
    >
      {{ breadcrumb.label | translate }}
    </a>
  }
</div>
