<div class="neo-select">
  @if (label !== "" && label !== undefined && label !== null) {
    <label
      (click)="toggleDropdown($event)"
      [for]="_id()"
      [attr.id]="_labelId()"
      class="neo-select__label"
      [class.neo-select__label--required]="required"
    >
      <span [innerHtml]="label"></span>
    </label>
  }
  <div
    #selectField
    #selectDropdown="cdkOverlayOrigin"
    class="neo-select__field size-{{ inputSize }}"
    role="combobox"
    (click)="toggleDropdown($event)"
    (keydown.enter)="toggleDropdown($event)"
    (keydown.space)="toggleDropdown($event)"
    [title]="getTitleOptionsSelected() || title || label"
    [class.neo-select__field--empty]="options.length === 0"
    [class.neo-select__field--multiple]="multiple"
    [class.neo-select__field--error]="hasErrors() || _hasErrors()"
    [class.neo-select__field--disabled]="disabled"
    [class.neo-select__field--transparent]="transparent"
    [attr.tabindex]="disabled ? -1 : 0"
    [attr.aria-controls]="isDropdownOpened() ? 'panel_' + _id() : null"
    [attr.aria-labelledby]="_labelId()"
    [attr.aria-describedby]="ariaDescribedBy"
    [attr.aria-required]="required"
    [attr.aria-expanded]="isDropdownOpened()"
    [attr.aria-haspopup]="'listbox'"
    [attr.aria-disabled]="disabled"
    [attr.aria-invalid]="hasErrors() || _hasErrors()"
    [attr.aria-autocomplete]="'none'"
    [attr.id]="_id()"
    cdkOverlayOrigin
  >
    @if (isLoading()) {
      <div class="neo-select__loading">
        <div class="neo-select__loading__spinner"></div>
      </div>
    }
    <div class="neo-select__field__value">
      @if (!multiple && getSelectedOptions().length > 0) {
        <span
          class="neo-select__field__value__label"
          [innerHTML]="getSelectedOptions()[0].getLabelText() | safeHtml"
        ></span>
      }
      @if (multiple && getSelectedOptions().length > 0) {
        <span
          class="neo-select__field__value__label"
          [innerHTML]="
            getSelectedOptions().length === 1
              ? (getSelectedOptions()[0].getLabelText() | safeHtml)
              : getSelectedOptions().length +
                ' ' +
                ('select.multiple_choices' | translate)
          "
        ></span>
      }
      @if (getSelectedOptions().length === 0) {
        <span class="neo-select__field__value__label">{{
          placeholder || "select.select_option" | translate
        }}</span>
      }
    </div>
    <i
      class="ri-arrow-down-s-fill neo-select__field__arrow-dropdown"
      [ngClass]="{ open: isDropdownOpened() }"
    ></i>
  </div>

  <ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="selectDropdown"
    [cdkConnectedOverlayOpen]="isDropdownOpened()"
    [cdkConnectedOverlayScrollStrategy]="scrollStrategy"
    cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
    [cdkConnectedOverlayHasBackdrop]="true"
    (attach)="attachDropdown()"
    (detach)="closeDropdown()"
    (backdropClick)="closeDropdown()"
  >
    <div
      class="neo-select__dropdown"
      [ngStyle]="{ 'min-width': selectField.offsetWidth + 'px' }"
      [cdkTrapFocus]="true"
      [cdkTrapFocusAutoCapture]="true"
    >
      @if (searchable && options.length > 0) {
        <div class="neo-select__dropdown__search">
          <input
            #searchInput
            class="neo-select__dropdown__search__input"
            type="text"
            [placeholder]="placeholderSearch || ('app.buscar' | translate)"
            [attr.id]="'listbox_search_' + _id()"
            [disabled]="isLoading()"
            [attr.aria-disabled]="isLoading()"
            [attr.aria-busy]="isLoading()"
            [attr.autocomplete]="'off'"
            [attr.autocapitalize]="'off'"
            (input)="searchOption(searchInput.value)"
          />
          <i class="ri-search-line neo-select__dropdown__search__icon"></i>
        </div>
      }
      <div
        #listboxSelect
        class="neo-select__dropdown__options"
        [class.neo-select__dropdown__options--empty]="options.length === 0"
        role="listbox"
        tabindex="-1"
        [attr.id]="'panel_' + _id()"
        [attr.aria-busy]="isLoading()"
        [attr.aria-label]="label"
        [attr.aria-labelledby]="_labelId()"
        [attr.aria-multiselectable]="multiple"
        (keydown)="onKeyDown($event)"
      >
        <ng-content select="neo-option, neo-option-groups"></ng-content>
      </div>
    </div>
  </ng-template>
</div>
