<div class="neo-select">
  @if (label !== "" && label !== undefined && label !== null) {
    <label
      (click)="toggleDropdown($event)"
      [for]="_id()"
      [attr.id]="_labelId()"
      class="neo-select__label"
    >
      <span [innerHtml]="label"></span>
      @if (required) {
        <abbr aria-hidden="true">*</abbr>
      }
    </label>
  }
  <div
    #selectField
    #selectDropdown="cdkOverlayOrigin"
    class="
      neo-select__field 
      neo-select__field--{{ inputSize }}
    "
    role="combobox"
    (click)="toggleDropdown($event)"
    (keydown.enter)="toggleDropdown($event)"
    (keydown.space)="toggleDropdown($event)"
    [title]="getTitleOptionsSelected() || title || label"
    [class.neo-select__field--empty]="options.length === 0"
    [class.neo-select__field--multiple]="multiple"
    [class.neo-select__field--has-error]="
      ngControl?.control?.errors &&
      (ngControl?.control?.dirty || ngControl?.control?.touched)
    "
    [class.neo-select__field--disabled]="disabled"
    [class.neo-select__field--transparent]="transparent"
    [class.neo-select__field--clear]="showClear"
    [attr.tabindex]="disabled ? -1 : 0"
    [attr.aria-controls]="isDropdownOpened() ? 'panel_' + _id() : null"
    [attr.aria-labelledby]="_labelId()"
    [attr.aria-describedby]="ariaDescribedBy || ariaDescribedByCustom"
    [attr.aria-required]="required"
    [attr.aria-expanded]="isDropdownOpened()"
    [attr.aria-haspopup]="'listbox'"
    [attr.aria-disabled]="disabled"
    [attr.aria-invalid]="
      ngControl?.control?.errors &&
      (ngControl?.control?.dirty || ngControl?.control?.touched)
    "
    [attr.aria-autocomplete]="'none'"
    [attr.id]="_id()"
    [showClear]="showClear"
    (clear)="clearSelection()"
    cdkOverlayOrigin
  >
    <div class="neo-select__field__value">
      @if (!multiple && getSelectedOptions().length > 0) {
        <span
          class="neo-select__field__value__label"
          [innerHTML]="getSelectedOptions()[0].getLabelText() | safeHtml"
        ></span>
      }
      @if (multiple && getSelectedOptions().length > 0) {
        <span
          class="neo-select__field__value__label"
          [innerHTML]="
            getSelectedOptions().length === 1
              ? (getSelectedOptions()[0].getLabelText() | safeHtml)
              : translatedMultipleChoices()
          "
        ></span>
      }
      @if (getSelectedOptions().length === 0) {
        <span class="neo-select__field__value__label">{{
          placeholder || _translations.selectOption
        }}</span>
      }
    </div>
    <i
      class="ri-arrow-down-s-line neo-select__field__arrow-dropdown"
      [ngClass]="{ open: isDropdownOpened() }"
    ></i>
  </div>

  <ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="selectDropdown"
    [cdkConnectedOverlayOpen]="isDropdownOpened()"
    [cdkConnectedOverlayScrollStrategy]="scrollStrategy"
    [cdkConnectedOverlayPositions]="overlayPositions"
    (attach)="attachDropdown()"
    (detach)="closeDropdown()"
    (backdropClick)="closeDropdown()"
  >
    <div
      class="neo-select__dropdown"
      [ngStyle]="{ 'min-width': selectField.offsetWidth + 'px' }"
      [cdkTrapFocus]="true"
      [cdkTrapFocusAutoCapture]="true"
      #dropdownOverlay
      [@fadeInOutScale]="isDropdownOpened() ? '*' : 'void'"
    >
      @if (searchable && options.length > 0) {
        <div class="neo-select__dropdown__search">
          <div class="neo-select__dropdown__search__wrapper">
            <input
              #searchInput
              class="
              neo-select__dropdown__search__wrapper__input 
              neo-select__dropdown__search__wrapper__input--{{ inputSize }}
            "
              type="text"
              [placeholder]="placeholderSearch || _translations.search"
              [attr.id]="'listbox_search_' + _id()"
              [attr.autocomplete]="'off'"
              [attr.autocapitalize]="'off'"
              (input)="searchOption(searchInput.value)"
            />
            <i
              class="ri-search-line neo-select__dropdown__search__wrapper__icon neo-select__dropdown__search__wrapper__icon--{{
                inputSize
              }}"
            ></i>
          </div>
        </div>
      }
      <div
        class="neo-select__dropdown__options"
        [class.neo-select__dropdown__options--empty]="options.length === 0"
        role="listbox"
        tabindex="-1"
        [attr.id]="'panel_' + _id()"
        [attr.aria-label]="label"
        [attr.aria-labelledby]="_labelId()"
        [attr.aria-multiselectable]="multiple"
        (keydown)="onKeyDown($event)"
      >
        <ng-content select="neo-option, neo-option-groups"></ng-content>
      </div>
    </div>
  </ng-template>
</div>
