@import "config";
@import "mixins";
@import "functions";

:host {
  display: block;
  width: 100%;
}

.neo-select {
  position: relative;

  &__field {
    // Tamaño dinámico para el input según el tamaño del componente
    @each $size-key, $input-size in $component-heights {
      &--#{$size-key} {
        @include component-size($size-key);
      }
    }

    @include flex-row-center;
    justify-content: space-between;
    border-radius: var(--border-radius-md);
    box-sizing: border-box;
    padding-right: calc(var(--spacing-m) * 2 + var(--spacing-xxs)) !important;
    cursor: pointer;
    position: relative;
    gap: var(--spacing-xs);
    background-color: var(--bg-field-color);
    border: var(--border-width-base) solid var(--border-field-color);

    &:focus:not(&--disabled),
    &:active:not(&--disabled) {
      @include outline-focus;
    }

    &--clear {
      padding-right: calc(
        var(--spacing-m) * 2 + var(--spacing-xxs) + var(--spacing-s)
      );
    }

    &__arrow-dropdown {
      position: absolute;
      right: var(--spacing-xs);
      font-size: var(--component-font-size-m);
      line-height: var(--component-font-size-m);
      transition: transform var(--transition-duration-normal)
        var(--transition-timing-function-ease);

      &.open {
        transform: rotate(180deg);
      }

      &::before {
        color: var(--icon-field-color);
      }
    }

    &--has-error {
      border: var(--border-width-base) solid var(--color-danger);
    }

    &--transparent {
      background-color: transparent;
    }

    &[disabled],
    &:disabled,
    &--disabled {
      @include disabled;
    }

    &__value {
      display: block;
      width: 100%;
      line-height: normal;
      @include ellipsis-text;
    }

    &:hover:not(&--disabled) {
      border-color: var(--hover-border-field-color);
    }

    &:hover:not(&--disabled) ~ .neo-select__field__arrow-dropdown::before {
      color: var(--hover-border-field-color);
    }

    .neo-clear-field-button {
      right: calc(var(--spacing-xs) * 2) !important;
    }
  }

  &__dropdown {
    @include flex-col-center;
    border: calc(var(--border-width-base) / 2) solid var(--border-field-color);
    background-color: var(--bg-field-color);

    &__search {
      @include flex-row-center;
      justify-content: center;
      padding: 0 var(--spacing-xs);
      margin-top: var(--spacing-xs);
      padding-bottom: var(--spacing-xs);
      position: relative;
      width: 100%;

      &__input {
        width: 100%;
        border-radius: var(--border-radius-md);
        border: none;
        box-sizing: border-box;
        padding: var(--spacing-xs) var(--spacing-s);
        border: calc(var(--border-width-base) / 2) solid
          var(--border-field-color);
        background-color: var(--bg-field-color);
        color: var(--text-color);

        // Tamaño dinámico para el input según el tamaño del componente
        @each $size-key, $input-size in $component-heights {
          &--#{$size-key} {
            @include component-size($size-key);
          }
        }

        &:focus,
        &:active {
          @include outline-focus;
        }

        &:hover {
          border-color: var(--hover-border-field-color);
        }

        &:hover ~ .neo-select__dropdown__search__icon::before {
          color: var(--hover-border-field-color);
        }
      }

      &__icon {
        position: absolute;
        right: var(--spacing-m);
        cursor: default;

        &::before {
          color: var(--icon-field-color);
        }
      }
    }

    &__options {
      width: 100%;
      max-height: 150px;
      overflow: auto;
      padding: var(--spacing-xs);
      scrollbar-width: thin;
      scrollbar-color: var(--bg-scroll-field-color) var(--bg-field-color);
      gap: var(--spacing-xxs);
      box-shadow: var(--box-shadow-md);

      &--empty {
        display: none;
      }

      &__group {
        @include flex-col-center;
        align-items: flex-start;
        justify-content: center;
        padding: 0 var(--spacing-xs);
        gap: var(--spacing-xxs);

        &__label {
          font-weight: var(--font-weight-bold);
          border-bottom: var(--border-width-xs) solid var(--border-field-color);
          cursor: default;
          width: 100%;
          padding: var(--spacing-xs) 0;

          // Tamaño dinámico para la fuente según el tamaño del componente
          @each $size-key, $font-size in $component-font-sizes {
            &--#{$size-key} {
              @include component-font-size($size-key);
            }
          }
        }

        &__options {
          @include flex-col-center;
          width: 100%;
          gap: var(--spacing-xxs);
        }

        &--hidden {
          display: none;
        }
      }

      &__option {
        @include flex-row-center;
        cursor: pointer;
        padding: var(--spacing-s);
        width: 100%;

        &--xs {
          @include component-size(xs);
        }
        &--s {
          @include component-size(s);
        }
        &--xm {
          @include component-size(xm);
        }
        &--m {
          @include component-size(m);
        }
        &--l {
          @include component-size(l);
        }
        &--xl {
          @include component-size(xl);
        }

        &:focus:not(&--disabled),
        &:active:not(&--disabled) {
          @include outline-focus;
          border-radius: var(--border-radius-md);
        }

        &:hover:not(&--disabled),
        &--selected {
          color: var(--text-color);
          background-color: var(--bg-options-field-color);
          border-radius: var(--border-radius-md);
        }

        &--hidden {
          display: none;
        }

        &__label {
          @include ellipsis-text;
          width: 100%;
          font-weight: var(--font-weight-medium);
        }

        &--selected {
          .neo-select__dropdown__options__item__label {
            font-weight: var(--font-weight-semibold);
          }
        }

        &__icon-selected {
          &::before {
            color: var(--icon-field-color);
          }
        }

        &--disabled {
          filter: opacity(0.3);
          cursor: default;
        }

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}
