@import 'base';

:host {
  display: block;
  width: 100%;
}

.neo-select {
  position: relative;

  &__label {
    &--required {
      &::after {
        content: '*';
        color: var(--danger-color);
      }
    }
  }

  &__field {
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    font-weight: 500;
    box-sizing: border-box;
    padding: 10px 10px;
    cursor: pointer;
    flex-direction: row;
    display: flex;
    position: relative;
    gap: 5px;

    &--disabled,
    &--empty {
      cursor: not-allowed;
      border: 1px solid var(--border-field-disabled-color);
      pointer-events: none;
      opacity: 0.7;
    }

    &--error {
      border: 1px solid var(--danger-color);
    }

    &--transparent {
      background-color: transparent !important;
    }

    &__arrow-dropdown {
      position: absolute;
      right: 5px;

      &.open {
        transform: rotate(180deg);
        transition: transform 150ms ease;
      }

      &:not(.open) {
        transform: rotate(0deg);
        transition: transform 150ms ease;
      }

      &:before {
        color: var(--icon-field-color);
      }
    }

    &__value {
      display: block;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: normal;

      &__label {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

  }

  &__dropdown {
    display: flex;
    flex-direction: column;
    border: none;

    &__search {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 5px;
      margin-top: 10px;
      position: relative;

      &__input {
        height: 35px;
        font-size: 12px;
        width: 100%;
        border-radius: 5px;
        border: none;
        box-sizing: border-box;
        padding: 10px;
        background-color: var(--bg-field-search-dropdown-color);
        color: var(--text-color);
        border: 0.5px solid var(--bg-field-search-dropdown-color);
      }

      &__icon {
        position: absolute;
        right: 20px;
        cursor: default;

        &:before {
          color: var(--icon-field-color);
        }
      }
    }

    &__options {
      max-height: 150px;
      overflow: auto;
      padding: 5px;
      scrollbar-width: thin !important;
      scrollbar-color: var(--bg-scroll-color) var(--bg-field-color) !important;

      &--empty {
        display: none;
      }

      &__group {
        padding: 5px 10px;
        font-size: 0.8rem;
        line-height: 1rem;
        letter-spacing: 0.3px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        gap: 5px;

        &--hidden {
          display: none;
        }

        &__label {
          font-weight: 600;
          cursor: default;
        }

        &__options {
          padding-left: 10px;
          padding-right: 10px;
          display: flex;
          flex-direction: column;
          width: 100%;
        }
      }

      &__option {
        cursor: pointer;
        font-size: 0.75rem;
        padding: 10px;
        line-height: 1rem;
        letter-spacing: 0.3px;
        display: flex;
        align-items: center;
        margin: 3px 0px;
        gap: 5px;

        &:hover:not(&--disabled),
        &:focus:not(&--disabled),
        &:active:not(&--disabled),
        &--selected {
          color: var(--text-color) !important;
          background-color: var(--background-color) !important;
          border-radius: 5px !important;
        }

        &--hidden {
          display: none;
        }

        &__label {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;
          font-weight: 500;
        }

        &--selected {
          .neo-select__dropdown__options__item__label {
            font-weight: 600;
          }
        }

        &__icon-selected {
          &:before {
            color: var(--icon-field-color);
          }
        }

        &--disabled {
          filter: opacity(0.3) !important;
          cursor: default;
        }

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}
