<div class="main-content" cdkScrollable>
  <header class="main-header navbar">
    <div class="main-header__left">
      <div
        [ngClass]="{
          'expanded-menu': isMenuOpened(),
          'collapsed-menu': !isMenuOpened()
        }"
        id="nvar_menu"
        class="main-header__left__menu"
        [title]="'MENU.OPEN_CLOSE' | translate"
        (click)="toggleMenu()"
        clickable
      >
        @if (isMenuOpened()) {
          <i class="ri-menu-fold-line"></i>
        } @else {
          <i class="ri-menu-line"></i>
        }
      </div>
      <div class="main-header__left__logo">
        <neo-logo [size]="'m'"></neo-logo>
      </div>
    </div>
    <div class="main-header__actions">
      <neo-theme-toggle size="m" color="secondary"></neo-theme-toggle>
      <neo-fullscreen-toggle size="m" color="secondary"></neo-fullscreen-toggle>
      <!-- <neo-button
        mode="icon"
        size="xm"
        color="secondary"
        (click)="logout()"
        [title]="'LOGIN.LOGOUT' | translate"
      >
        <i class="ri-logout-circle-r-line"></i>
      </neo-button> -->
    </div>
  </header>
  <neo-side-menu class="navbar_menu"></neo-side-menu>
  <main class="content-wrapper">
    <router-outlet></router-outlet>
  </main>
  <neo-sidebar-panel></neo-sidebar-panel>
</div>
