<div class="calendar-picker">
  @if (viewMode() === "default") {
    <div class="calendar-picker__default">
      <div class="calendar-picker__header">
        <button
          class="calendar-picker__header__btn"
          tabindex="0"
          type="button"
          (click)="prevMonth()"
          [title]="'calendar.prevMonth' | translate"
        >
          <i class="ri-arrow-left-s-line"></i>
        </button>
        <div class="calendar-picker__header__actions">
          <button
            class="calendar-picker__header__actions--selector"
            tabindex="0"
            type="button"
            (click)="chageViewMode('months', $event)"
            [title]="'calendar.changeMonth' | translate"
          >
            {{
              "date.month." + (currentCalendar() | date: "MMMM" | lowercase)
                | translate
            }}
            <i class="ri-arrow-down-s-line arrow-dropdown"></i>
          </button>
          <button
            class="calendar-picker__header__actions--selector"
            tabindex="0"
            type="button"
            (click)="chageViewMode('years', $event)"
            [title]="'calendar.changeYear' | translate"
          >
            {{ currentCalendar() | date: "yyyy" }}
            <i class="ri-arrow-down-s-line arrow-dropdown"></i>
          </button>
        </div>
        <button
          tabindex="0"
          type="button"
          class="calendar-picker__header__btn"
          (click)="nextMonth()"
          [title]="'calendar.nextMonth' | translate"
        >
          <i class="ri-arrow-right-s-line"></i>
        </button>
      </div>
      <div class="calendar-picker__content calendar-picker__days">
        <div class="calendar-picker__days__header">
          <span>{{ "date.calendar.monday.short" | translate }}</span>
          <span>{{ "date.calendar.tuesday.short" | translate }}</span>
          <span>{{ "date.calendar.wednesday.short" | translate }}</span>
          <span>{{ "date.calendar.thursday.short" | translate }}</span>
          <span>{{ "date.calendar.friday.short" | translate }}</span>
          <span>{{ "date.calendar.saturday.short" | translate }}</span>
          <span>{{ "date.calendar.sunday.short" | translate }}</span>
        </div>
        <div class="calendar-picker__days__month">
          @for (day of daysInMonth(); track day) {
            <button
              type="button"
              #dayButton
              [tabindex]="!isCurrentMonth(day) ? -1 : 0"
              (click)="selectItem(day, $event); dayButton.focus()"
              class="calendar-picker__days__month__day"
              [class.calendar-picker__days__month__day--disabled]="
                !isCurrentMonth(day)
              "
              [attr.aria-label]="
                (day | date: 'dd') +
                '/' +
                (day | date: 'MM') +
                '/' +
                (day | date: 'yyyy')
              "
              [attr.aria-pressed]="isSameSelectedDay(day) || isRangeDate(day)"
              [attr.aria-disabled]="!isCurrentMonth(day)"
              [attr.aria-current]="isToday(day)"
              [class.calendar-picker__days__month__day--selected]="
                isSameSelectedDay(day) || isRangeDate(day)
              "
              [class.calendar-picker__days__month__day--today]="isToday(day)"
              [title]="
                (day | date: 'dd') +
                '/' +
                (day | date: 'MM') +
                '/' +
                (day | date: 'yyyy')
              "
            >
              {{ day | date: "dd" }}
            </button>
          }
        </div>
      </div>
    </div>
  } @else if (viewMode() === "months") {
    <div
      class="calendar-picker__months"
      cdkTrapFocus
      [cdkTrapFocusAutoCapture]="true"
    >
      <div class="calendar-picker__header">
        <span class="calendar-picker__header__title">{{
          "calendar.month" | translate
        }}</span>
      </div>
      <div class="calendar-picker__content calendar-picker__months__content">
        @for (month of allMonths(); track month) {
          <button
            type="button"
            tabindex="0"
            class="calendar-picker__months__item"
            [ngClass]="{
              selected: (currentCalendar() | date: 'MMMM') === month
            }"
            (click)="changeMonth($index, $event)"
            [title]="'date.month.' + month | lowercase | translate"
          >
            {{ "date.month." + month | lowercase | translate }}
          </button>
        }
      </div>
    </div>
  } @else {
    <div
      class="calendar-picker__years"
      cdkTrapFocus
      [cdkTrapFocusAutoCapture]="true"
    >
      <div class="calendar-picker__header">
        <button
          type="button"
          tabindex="0"
          class="calendar-picker__header__btn"
          (click)="prevYears()"
          [title]="'app.anterior' | translate"
        >
          <i class="ri-arrow-left-s-line"></i>
        </button>
        <span class="calendar-picker__header__title">{{
          "date.year" | translate
        }}</span>
        <button
          type="button"
          tabindex="0"
          class="calendar-picker__header__btn"
          (click)="nextYears()"
          [title]="'app.siguiente' | translate"
        >
          <i class="ri-arrow-right-s-line"></i>
        </button>
      </div>
      <div class="calendar-picker__content calendar-picker__years__content">
        @for (year of allYears(); track year) {
          <button
            tabindex="0"
            type="button"
            class="calendar-picker__years__item"
            [ngClass]="{
              selected: (currentCalendar() | date: 'yyyy') === year
            }"
            (click)="changeYear(year, $event)"
            [title]="year"
          >
            {{ year }}
          </button>
        }
      </div>
    </div>
  }
</div>
