@import 'base';

:host {
  display: flex;
  flex-direction: column;
}

.calendar-picker {
  width: 286px;
  height: 335px;
  border-radius: .25rem;
  min-height: 265px;
  background-color: var(--bg-field-color);
  color: var(--text-color);
  box-shadow: var(--shadow-box);

  &__header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 10px;
    height: 50px;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background-color: var(--bg-btn-primary-color);
    font-size: 0.8rem;

    &__btn,
    &__title {
      font-size: 0.85rem;
      font-weight: 500;
      color: var(--text-btn-primary-color);
      background-color: transparent !important;
    }

    &__btn {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      padding: 5px 10px;
      border-radius: .25rem;
      border: none;
      background-color: var(--bg-btn-primary-color) !important;
      color: var(--text-btn-primary-color);
      width: 30px;
      height: 30px;

      i::before {
        color: var(--text-btn-primary-color);
      }

      &:hover,
      &:focus,
      &:active {
        outline: 0;
        background-color: var(--hover-btn-primary-color) !important;
      }
    }

    &__actions {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      color: var(--text-btn-primary-color);

      &--selector {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: none;
        padding: 5px 10px;
        border-radius: .25rem;
        background-color: var(--bg-btn-primary-color);
        color: var(--text-btn-primary-color);

        &:hover,
        &:focus,
        &:active {
          outline: 0;
          background-color: var(--hover-btn-primary-color);
        }

        &:last-child {
          margin-left: 10px;
        }

        i::before {
          color: var(--text-btn-primary-color);
        }
      }

      .arrow-dropdown {
        width: 10px;
        height: 10px;
        font-size: 0.65rem;
        right: 10px;
        margin-left: 5px;
      }
    }
  }

  &__back {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px;

    &__btn {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      border: none;
      border-radius: .25rem;
      font-size: 1.3rem;
      width: 40px;
      height: 40px;
      background-color: transparent !important;

      &:hover,
      &:focus,
      &:active {
        color: var(--text-color);
        background-color: var(--background-color) !important;
        border-radius: .25rem;
      }
    }
  }

  &__content {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  &__days {
    &__header {
      display: grid;
      width: 100%;
      grid-gap: 5px;
      grid-template-columns: repeat(7, 35px);
      border-radius: .25rem;
      justify-items: center;
      align-items: center;

      span {
        font-weight: 600;
        font-size: 0.85rem;
      }
    }

    &__weeks {
      display: flex;
      width: 100%;
      border-radius: 0.25rem;
      justify-items: center;
      align-items: center;
      flex-direction: column;
      gap: 5px;

      &__week {
        display: flex;
        width: 100%;
        gap: 5px;

        &__day {
          cursor: pointer;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: center;
          align-items: center;
          border: none;
          border-radius: .25rem;
          font-size: 0.8rem;
          width: 35px;
          height: 35px;
          background-color: transparent !important;

          &:hover,
          &:focus,
          &:active {
            color: var(--text-color);
            background-color: var(--background-color) !important;
            border-radius: .25rem;
          }

          &--disabled {
            cursor: default;
            filter: opacity(0.5);

            &:hover {
              background: none;
              border: none;
              color: inherit;
            }
          }

          &--selected,
          &--selected:hover {
            border: 1px solid #CCC;
            color: var(--text-color);
            background-color: var(--background-color) !important;
            border-radius: .25rem;
          }

          &--today {
            color: var(--primary-color);
            font-weight: 700;

            &:hover {
              color: var(--primary-color);
            }
          }
        }
      }
    }
  }

  &__months {
    &__content {
      display: grid;
      width: 100%;
      grid-gap: 15px 5px;
      grid-template-columns: repeat(3, 85px);
      border-radius: .25rem;
      justify-items: center;
      align-items: center;
    }
  }

  &__years {
    &__content {
      display: grid;
      width: 100%;
      grid-gap: 15px 5px;
      grid-template-columns: repeat(4, 65px);
      border-radius: .25rem;
      justify-items: center;
      align-items: center;
    }
  }

  &__months,
  &__years {

    &__item {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      border-radius: .25rem;
      height: 30px;
      letter-spacing: normal;
      align-content: center;
      flex-direction: row;
      cursor: pointer;
      width: 100%;
      color: var(--text-color);
      border: none;
      background-color: transparent !important;

      &:hover,
      &:focus,
      &:active {
        color: var(--text-color);
        background-color: var(--background-color) !important;
        border-radius: .25rem;
      }
    }
  }

  &__months {
    .calendar-picker__header {
      justify-content: center;
    }

    &__item {
      span {
        padding: 0 5px;
      }
    }
  }
}