<div class="calendar-picker">
  @if (viewMode() === "default") {
    <div class="calendar-picker__default">
      <div class="calendar-picker__header">
        <div
          class="calendar-picker__header__btn"
          tabindex="0"
          (click)="prevMonth()"
          (keydown.enter)="prevMonth()"
          (keydown.space)="prevMonth()"
          [title]="'calendar.prevMonth' | translate"
        >
          <i class="ri-arrow-left-s-line"></i>
        </div>
        <div class="calendar-picker__header__actions">
          <span
            class="calendar-picker__header__actions--selector"
            tabindex="0"
            (click)="chageViewMode('months', $event)"
            (keydown.enter)="chageViewMode('months', $event)"
            (keydown.space)="chageViewMode('months', $event)"
            [title]="'calendar.changeMonth' | translate"
          >
            {{
              "date.month." + (currentCalendar() | date: "MMMM" | lowercase)
                | translate
            }}
            <i class="ri-arrow-down-s-line arrow-dropdown"></i>
          </span>
          <span
            class="calendar-picker__header__actions--selector"
            tabindex="0"
            (click)="chageViewMode('years', $event)"
            (keydown.enter)="chageViewMode('years', $event)"
            (keydown.space)="chageViewMode('years', $event)"
            [title]="'calendar.changeYear' | translate"
          >
            {{ currentCalendar() | date: "yyyy" }}
            <i class="ri-arrow-down-s-line arrow-dropdown"></i>
          </span>
        </div>
        <div
          tabindex="0"
          class="calendar-picker__header__btn"
          (click)="nextMonth()"
          (keydown.enter)="nextMonth()"
          (keydown.space)="nextMonth()"
          [title]="'calendar.nextMonth' | translate"
        >
          <i class="ri-arrow-right-s-line"></i>
        </div>
      </div>
      <div class="calendar-picker__content calendar-picker__days">
        <div class="calendar-picker__days__header">
          <span>{{ "date.calendar.monday.short" | translate }}</span>
          <span>{{ "date.calendar.tuesday.short" | translate }}</span>
          <span>{{ "date.calendar.wednesday.short" | translate }}</span>
          <span>{{ "date.calendar.thursday.short" | translate }}</span>
          <span>{{ "date.calendar.friday.short" | translate }}</span>
          <span>{{ "date.calendar.saturday.short" | translate }}</span>
          <span>{{ "date.calendar.sunday.short" | translate }}</span>
        </div>
        <div class="calendar-picker__days__month">
          @for (day of daysInMonth(); track day) {
            <span
              tabindex="0"
              #dayItem
              (click)="selectItem(day, $event); dayItem.focus()"
              (keydown.enter)="selectItem(day, $event)"
              (keydown.space)="selectItem(day, $event)"
              class="calendar-picker__days__month__day"
              [class.calendar-picker__days__month__day--disabled]="
                !isCurrentMonth(day)
              "
              [class.calendar-picker__days__month__day--selected]="
                isSameSelectedDay(day) || isRangeDate(day)
              "
              [class.calendar-picker__days__month__day--today]="isToday(day)"
              [title]="
                (day | date: 'dd') +
                '/' +
                (day | date: 'MM') +
                '/' +
                (day | date: 'yyyy')
              "
              >{{ day | date: "dd" }}</span
            >
          }
        </div>
      </div>
    </div>
  } @else if (viewMode() === "months") {
    <div
      class="calendar-picker__months"
      cdkTrapFocus
      [cdkTrapFocusAutoCapture]="true"
    >
      <div class="calendar-picker__header">
        <span class="calendar-picker__header__title">{{
          "calendar.month" | translate
        }}</span>
      </div>
      <div class="calendar-picker__content calendar-picker__months__content">
        @for (month of allMonths(); track month) {
          <div
            class="calendar-picker__months__item"
            [ngClass]="{
              selected: (currentCalendar() | date: 'MMMM') === month
            }"
          >
            <span
              tabindex="0"
              (click)="changeMonth($index, $event)"
              (keydown.enter)="changeMonth($index, $event)"
              (keydown.space)="changeMonth($index, $event)"
              [title]="'date.month.' + month | lowercase | translate"
              >{{ "date.month." + month | lowercase | translate }}</span
            >
          </div>
        }
      </div>
    </div>
  } @else {
    <div
      class="calendar-picker__years"
      cdkTrapFocus
      [cdkTrapFocusAutoCapture]="true"
    >
      <div class="calendar-picker__header">
        <div
          tabindex="0"
          class="calendar-picker__header__btn"
          (click)="prevYears()"
          (keydown.enter)="prevYears()"
          (keydown.space)="prevYears()"
          [title]="'app.anterior' | translate"
        >
          <i class="ri-arrow-left-s-line"></i>
        </div>
        <span class="calendar-picker__header__title">{{
          "date.year" | translate
        }}</span>
        <div
          tabindex="0"
          class="calendar-picker__header__btn"
          (click)="nextYears()"
          (keydown.enter)="nextYears()"
          (keydown.space)="nextYears()"
          [title]="'app.siguiente' | translate"
        >
          <i class="ri-arrow-right-s-line"></i>
        </div>
      </div>
      <div class="calendar-picker__content calendar-picker__years__content">
        @for (year of allYears(); track year) {
          <div
            class="calendar-picker__years__item"
            [ngClass]="{
              selected: (currentCalendar() | date: 'yyyy') === year
            }"
          >
            <span
              tabindex="0"
              (click)="changeYear(year, $event)"
              (keydown.enter)="changeYear(year, $event)"
              (keydown.space)="changeYear(year, $event)"
              [title]="year"
              >{{ year }}</span
            >
          </div>
        }
      </div>
    </div>
  }
</div>
