<div class="neo-textarea" [title]="label || ''">
  @if (label) {
    <label
      [for]="_id()"
      class="neo-textarea__label"
      [class.neo-textarea__label--required]="required"
    >
      <span [innerHtml]="label"></span>
    </label>
  }
  <div class="neo-textarea__wrapper">
    <textarea
      #textArea="ngModel"
      class="neo-textarea__wrapper__field size-{{ inputSize }}"
      [class.neo-textarea__wrapper__field--has-error]="
        hasErrors() ||
        (textArea?.errors && (textArea?.dirty || textArea?.touched)) ||
        false
      "
      [ngClass]="{ 'no-resize': !resize }"
      [(ngModel)]="value"
      (input)="onInput(textArea.value)"
      (blur)="onBlur()"
      [attr.id]="_id()"
      [attr.name]="name"
      [attr.rows]="rows"
      [attr.cols]="cols"
      [readonly]="readonly"
      [disabled]="_disabled()"
      [required]="required"
      [attr.maxlength]="maxlength"
      [attr.autofocus]="autofocus"
      [attr.aria-disabled]="_disabled()"
      [attr.aria-readonly]="readonly"
      [attr.aria-label]="title || label || placeholder || ''"
      [attr.aria-labelledby]="_id()"
      [attr.aria-describedby]="title || label || placeholder || ''"
      [attr.aria-required]="required"
      [attr.placeholder]="placeholder"
      [title]="title || label || placeholder || ''"
    ></textarea>
  </div>
</div>
