@import "config";
@import "theme";
@import "theme-config";
@import "mixins";

:host {
  display: block;
  width: 100%;
}

.neo-textarea {
  position: relative;

  &__wrapper {
    position: relative;

    &__field {
      width: 100%;
      border-radius: var(--border-radius-md);
      box-sizing: border-box;
      padding: var(--spacing-s);
      background-color: var(--bg-field-color);
      border: var(--border-width-base) solid var(--border-field-color);
      box-shadow: var(--box-shadow-component);

      &:focus:not(&--disabled),
      &:active:not(&--disabled) {
        @include outline-focus;
      }

      // Tamaño dinámico para el input según el tamaño del componente
      @each $size-key, $txtArea-size in $component-heights {
        &--#{$size-key} {
          @include component-textarea-size($size-key);
        }
      }

      &:hover:not(&--disabled) {
        border-color: var(--hover-border-field-color);
      }

      &--has-error {
        @include field-error;

        &:not(&--disabled) {
          &:focus,
          &:active,
          &:hover {
            @include field-error;
          }

          &:focus,
          &:active {
            @include outline-field-error;
          }
        }
      }

      &[disabled],
      &:disabled,
      &--disabled {
        @include disabled;
      }

      &--no-resize {
        resize: none;
      }
    }
  }
}
