<div class="neo-textarea" [title]="label || ''">
  @if (label) {
    <label [for]="_id()" [attr.id]="_labelId()" class="neo-textarea__label">
      <span [innerHtml]="label"></span>
      @if (required) {
        <abbr aria-hidden="true">*</abbr>
      }
    </label>
  }
  <div class="neo-textarea__wrapper">
    <textarea
      #txArea="ngModel"
      class="
        neo-textarea__wrapper__field 
        neo-textarea__wrapper__field--{{ inputSize }}
      "
      [class.neo-textarea__wrapper__field--no-resize]="!resize"
      [class.neo-textarea__wrapper__field--has-error]="
        txArea?.errors && (txArea?.dirty || txArea?.touched)
      "
      [(ngModel)]="_value"
      (input)="onInput(txArea.value)"
      (blur)="onBlur()"
      [attr.id]="_id()"
      [attr.name]="name"
      [attr.rows]="rows"
      [attr.cols]="cols"
      [readonly]="readonly"
      [disabled]="_disabled()"
      [required]="required"
      [attr.maxlength]="maxlength"
      [attr.autofocus]="autofocus"
      [attr.aria-disabled]="_disabled()"
      [attr.aria-readonly]="readonly"
      [attr.aria-labelledby]="_labelId()"
      [attr.aria-describedby]="ariaDescribedBy || ariaDescribedByCustom"
      [attr.aria-invalid]="txArea?.errors && (txArea?.dirty || txArea?.touched)"
      [attr.aria-owns]="_labelId()"
      [attr.aria-required]="required"
      [attr.placeholder]="placeholder"
      [title]="title || label || placeholder || ''"
    ></textarea>
  </div>
</div>
