@import "config";
@import "mixins";
@import "functions";

.neo-textarea {
  position: relative;

  &__wrapper {
    position: relative;

    &__field {
      width: 100%;
      border-radius: $border-radius-md;
      box-sizing: border-box;
      padding: $spacing-s;
      background-color: var(--bg-field-color);
      border: $border-width-base solid var(--border-field-color);

      &:focus:not(&--disabled),
      &:active:not(&--disabled) {
        @include outline-focus;
      }

      // Tamaño dinámico para el input según el tamaño del componente
      @each $size-key, $txtArea-size in $component-heights {
        &--#{$size-key} {
          @include component-textarea-size($size-key);
        }
      }

      &--has-error {
        border: $border-width-xs solid var(--color-danger);
      }

      &[disabled],
      &:disabled,
      &--disabled {
        @include disabled;
      }

      &--no-resize {
        resize: none;
      }
    }
  }
}
