@import 'base';

:host {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.neo-error {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5px 0;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 5px;
    font-size: 0.85rem;
    line-height: 1rem;
    font-weight: 600;
    color: var(--text-color);

    i {
      font-weight: 500;
    }
  }
}
