

// --- SCSS Maps para definir los valores de tamaño ---
// Define todos los tamaños en un solo lugar
$sizes: (
  xs: (font-size: 0.6rem,
    line-height: 0.8rem,
    height: 28px,
    checkmark-size: 10px,
    checkmark-border: 4px),
  s: (font-size: 0.7rem,
    line-height: 0.85rem,
    height: 30px,
    checkmark-size: 10px,
    checkmark-border: 4px),
  xm: (font-size: 0.75rem,
    line-height: 0.90rem,
    height: 34px,
    checkmark-size: 14px,
    checkmark-border: 4px),
  m: (font-size: 0.8rem,
    line-height: 0.95rem,
    height: 38px,
    checkmark-size: 18px,
    checkmark-border: 5px),
  l: (font-size: 0.85rem,
    line-height: 1rem,
    height: 42px,
    checkmark-size: 22px,
    checkmark-border: 6px),
  xl: (font-size: 0.9rem,
    line-height: 1rem,
    height: 47px,
    checkmark-size: 26px,
    checkmark-border: 8px)
);

// --- Mixin para aplicar estilos de tamaño a campos de texto/select ---
@mixin apply-field-sizes {
  @each $size-name, $props in $sizes {
    &.size-#{$size-name} {
      font-size: map-get($props, font-size);
      line-height: map-get($props, line-height);
    }
  }
}

// --- Mixin para aplicar altura de campo ---
@mixin apply-field-heights {
  @each $size-name, $props in $sizes {
    &.size-#{$size-name} {
      height: map-get($props, height);
    }
  }
}

// --- Mixin para aplicar estilos de tamaño a checkboxes/radiobuttons ---
@mixin apply-checkmark-sizes {
  @each $size-name, $props in $sizes {
    &.size-#{$size-name} {
      &__checkmark {
        height: map-get($props, checkmark-size);
        width: map-get($props, checkmark-size);

        &::after {
          border-width: map-get($props, checkmark-border);
        }
      }
    }
  }
}

// --- Estilos generales para las etiquetas (no cambian por tamaño) ---
.neo-input,
.neo-input-password,
.neo-input-date-picker,
.neo-textarea,
.neo-select {
  &__label {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
    gap: 5px;
  }
}

// --- Aplicación de Mixins a los selectores correspondientes ---
.neo-select__field,
.neo-input__wrapper__field,
.neo-input-password__wrapper__field,
.neo-input-date-picker__wrapper__field,
.neo-checkbox__control,
.neo-checkbox__control__label,
.neo-radiobutton__control,
.neo-radiobutton__control__label,
.neo-input-file__wrapper__label {
  @include apply-field-sizes; // Aplica font-size y line-height
}

.neo-select__field,
.neo-input__wrapper__field,
.neo-input-password__wrapper__field,
.neo-input-date-picker__wrapper__field,
.neo-checkbox__control,
.neo-radiobutton__control,
.neo-input-file {
  @include apply-field-heights; // Aplica height
}

.neo-checkbox__control,
.neo-radiobutton__control {
  @include apply-checkmark-sizes; // Aplica estilos de checkmark
}