@if (isMenuOpened()) {
  <nav
    role="navigation"
    class="neo-side-menu__nav"
    [ngClass]="{
      'neo-side-menu__nav--opened': isMenuOpened(),
      'neo-side-menu__nav--closed': !isMenuOpened()
    }"
    [class.neo-side-menu__nav--left]="position === LEFT_MENU_POSITION"
    [class.neo-side-menu__nav--right]="position === RIGHT_MENU_POSITION"
    [attr.aria-hidden]="!isMenuOpened()"
    [@slideByPosition]="position"
  >
    <div class="neo-side-menu__nav__wrapper">
      @for (item of menu; track item) {
        <neo-side-menu-item
          class="neo-side-menu__nav__item"
          [itemMenu]="item"
          (closeMainItemsMenu)="shrinkItems(item)"
        >
        </neo-side-menu-item>
      }
    </div>
  </nav>
  <div
    [@fadeInOut]
    class="neo-side-menu__backdrop"
    (click)="closeSideMenu()"
  ></div>
}
