// Estilos para los mensajes toast
@import "ngx-toastr/toastr";

// Importación de bootstrap SCSS
@import "./assets/scss/bootstrap-grid";
@import "./assets/scss/bootstrap-utilities";


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
