@import "config";
@import "mixins";
@import "functions";

.neo-input {
  position: relative;

  &--disabled {
    cursor: not-allowed;
    pointer-events: none;
  }

  &__wrapper {
    position: relative;

    &__field {
      width: 100%;
      border-radius: $border-radius-md;
      box-sizing: border-box;
      padding: $spacing-s;
      background-color: var(--bg-field-color);
      border: $border-width-base solid var(--border-field-color);

      &:focus,
      &:active {
        @include outline-focus;
      }

      &--xs {
        @include component-size(xs);
      }
      &--s {
        @include component-size(s);
      }
      &--xm {
        @include component-size(xm);
      }
      &--m {
        @include component-size(m);
      }
      &--l {
        @include component-size(l);
      }
      &--xl {
        @include component-size(xl);
      }

      &--has-error {
        border: $border-width-xs solid var(--color-danger);
      }

      &[disabled],
      &:disabled {
        cursor: not-allowed;
      }
    }
  }
}
