@import "config";
@import "mixins";
@import "functions";

.neo-input {
  position: relative;

  &--disabled {
    cursor: not-allowed;
    pointer-events: none;
  }

  &__wrapper {
    position: relative;

    &__field {
      width: 100%;
      border-radius: var(--border-radius-md);
      box-sizing: border-box;
      background-color: var(--bg-field-color);
      border: var(--border-width-base) solid var(--border-field-color);
      box-shadow: var(--box-shadow-component);

      &:focus:not(&--disabled),
      &:active:not(&--disabled) {
        @include outline-focus;
      }

      // Tamaño dinámico para el input según el tamaño del componente
      @each $size-key, $input-size in $component-heights {
        &--#{$size-key} {
          @include spinner-size($size-key);
        }
      }

      &--clear {
        padding-right: calc(var(--spacing-s) * 3);
      }

      &--has-error {
        border: var(--border-width-xs) solid var(--color-danger);
      }

      &[disabled],
      &:disabled,
      &--disabled {
        @include disabled;
      }

      &:hover:not(&--disabled) {
        border-color: var(--hover-border-field-color);
      }
    }
  }
}
