@import "config";
@import "mixins";
@import "functions";

.neo-input {
  position: relative;

  &--disabled {
    cursor: not-allowed;
    pointer-events: none;
  }

  &__wrapper {
    position: relative;

    &__field {
      width: 100%;
      border-radius: $border-radius-md;
      box-sizing: border-box;
      background-color: var(--bg-field-color);
      border: $border-width-base solid var(--border-field-color);

      &:focus:not(&--disabled),
      &:active:not(&--disabled) {
        @include outline-focus;
      }

      // Tamaño dinámico para el input según el tamaño del componente
      @each $size-key, $input-size in $component-heights {
        &--#{$size-key} {
          @include component-size($size-key);
        }
      }

      &--clear {
        padding-right: calc(#{$spacing-s} * 2 + #{$spacing-s});
      }

      &--has-error {
        border: $border-width-xs solid var(--color-danger);
      }

      &[disabled],
      &:disabled,
      &--disabled {
        @include disabled;
      }

      &:hover:not(&--disabled) {
        border-color: var(--hover-border-field-color);
      }
    }
  }
}
