// src/app/shared/components/breadcrumb/breadcrumb.component.scss

@import "config";
@import "mixins";
@import "functions";

.breadcrumb {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: $spacing-xs;
  font-weight: $font-weight-regular;
  border-radius: $border-radius-md;
  min-height: map-get($component-heights, s);
  box-shadow: inset 0 1px 2px rgba(var(-color-black), 0.05);

  &__separator {
    display: inline-flex;
    align-items: center;
    color: var(--separator-breadcrumb-color);
    margin: 0 $spacing-xxs;
    margin-top: $spacing-xxs;
    @include component-font-size(xm);
  }

  &__item {
    cursor: pointer;
    text-decoration: none;
    color: var(--text-breadcrumb-color);
    @include transition(all 0.2s ease-in-out);
    padding: $spacing-xxs $spacing-xs;
    border-radius: $border-radius-md;
    display: inline-flex;
    @include component-font-size(xm);

    &--active {
      font-weight: $font-weight-semibold;
      color: var(--active-breadcrumb-text-color);
      background-color: var(--active-breadcrumb-bg);
      cursor: default;
      text-decoration: none;
    }

    &:hover:not(&--active),
    &:focus:not(&--active) {
      outline: none;
      color: var(--text-breadcrumb-color-hover);
      background-color: var(--bg-color-hover);
      box-shadow: $box-shadow-sm;
    }

    @media (max-width: 768px) {
      max-width: 80px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  @media (max-width: 768px) {
    gap: calc($spacing-xs / 2);
    font-size: $font-size-base * 0.8;
    padding: $spacing-xs;
  }

  @media (max-width: 576px) {
    display: none;
  }
}
