<div class="breadcrumb">
  <a
    class="breadcrumb__item"
    tabindex="0"
    #routerLinkHome="routerLinkActive"
    [title]="homeLabel"
    [routerLink]="['/']"
    [routerLinkActiveOptions]="{ exact: true }"
    [attr.aria-current]="routerLinkHome.isActive ? 'page' : null"
    routerLinkActive="breadcrumb__item--active"
  >
    {{ homeLabel }}
  </a>
  @for (breadcrumb of breadcrumbs; track breadcrumb; let isLast = $last) {
    <i class="breadcrumb__separator ri-arrow-right-double-line"></i>
    <a
      class="breadcrumb__item"
      tabindex="0"
      #routerLink="routerLinkActive"
      [title]="breadcrumb.label"
      [routerLink]="[breadcrumb.url]"
      [routerLinkActiveOptions]="{ exact: true }"
      [attr.aria-current]="routerLink.isActive ? 'page' : null"
      routerLinkActive="breadcrumb__item--active"
    >
      {{ breadcrumb.label }}
    </a>
  }
</div>
