@import "config";
@import "theme-config";
@import "mixins";

:host {
  display: block;

  &.neo-spinner-container {
    @include flex-col-center-center;
    position: relative;
    width: 100%;
    height: 100%;

    &--absolute {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1000;
    }

    &--inline {
      position: relative;
      display: inline-flex;
      width: auto;
      height: auto;
    }
  }

  .neo-spinner-wrapper {
    @include flex-col-center-center;

    // Espaciado entre el spinner y la etiqueta
    @each $size-key, $size in $spinner-gaps {
      &--#{$size-key} {
        gap: var(--spinner-gap-#{$size-key});
      }
    }
  }

  // Estilos del Spinner (círculo giratorio)
  .neo-spinner-circle {
    border-width: var(--spinner-circle-border-width);
    border-style: var(--spinner-circle-border-style);
    border-color: var(--spinner-circle-border-color);
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    box-sizing: border-box;

    // Tamaño dinámico para el spinner según el tamaño del componente
    @each $size-key, $size in $spinner-sizes {
      &--#{$size-key} {
        @include spinner-size($size-key);
      }
    }
  }

  // Estilos de la Etiqueta (Label)
  .neo-spinner-label {
    font-family: var(--font-family-base);

    // Tamaño dinámico para la etiqueta según el tamaño del componente
    @each $size-key, $size in $component-font-sizes {
      &--#{$size-key} {
        font-size: var(--component-font-size-#{$size-key});
      }
    }
  }

  // Animación de giro del spinner
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
