<neo-button
  [mode]="label ? 'button' : 'icon'"
  [title]="title || label"
  [size]="size"
  [transparent]="transparent"
  [disabled]="_columns().length === 0"
  [color]="color"
  (onClick)="toggleOverlay($event)"
  cdkOverlayOrigin
  #filterColumnsOverlay="cdkOverlayOrigin"
>
  <i [class]="icon"></i>
  @if (label) {
    <span>{{ label }}</span>
  }
</neo-button>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="filterColumnsOverlay"
  [cdkConnectedOverlayOpen]="isFiltersOpened()"
  [cdkConnectedOverlayScrollStrategy]="scrollStrategy"
  cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
  [cdkConnectedOverlayHasBackdrop]="true"
  (detach)="closeFilters()"
  (backdropClick)="closeFilters()"
>
  <div
    class="filter-columns-table"
    cdkTrapFocus
    [cdkTrapFocusAutoCapture]="true"
    (escapeKey)="closeFilters()"
  >
    <div class="filter-columns-table--select_all">
      <neo-checkbox
        [title]="'DROPDOWN.SELECT_ALL' | translate"
        [inputSize]="'xm'"
        [checked]="isSomeColumnsSelected() && isAllColumnsSelected()"
        [indeterminate]="isSomeColumnsSelected() && !isAllColumnsSelected()"
        (click)="$event.stopPropagation()"
        (change)="changeVisibilityAllColumns($event)"
      >
        {{ "DROPDOWN.SELECT_ALL" | translate }}
      </neo-checkbox>
    </div>
    <div class="filter-columns-table--columns">
      @for (column of _columns(); track column) {
        <neo-checkbox
          [title]="column.label | snakeTextToString"
          [inputSize]="'xm'"
          [checked]="column?.visible || false"
          (click)="$event.stopPropagation()"
          (change)="changeVisibilityColumn($event, $index)"
        >
          {{ column.label | snakeTextToString }}
        </neo-checkbox>
      }
    </div>
  </div>
</ng-template>
